.heading{
    background: #008686;
    color: #fff !important;
    font-size:medium;
    padding: 10px;
}
.page-title.h1, h1.page-title {
  // font-size: calc(1.375rem + 0.5vw);
  // font-weight: 500;
  // color: #037a92;
  font-weight: 600;
  color: #037a92;
  font-size: 20px;
}

.editLabel{
  font-weight: 600;
}

.mattab{
    background-color: greenyellow;
}
::ng-deep .mat-tab-label:hover{

    color: #fff;
    background-color: #03687c;
    border-color: #026275;

}

// font-family
$poppins-regular: "Poppins", sans-serif;
// font-weight
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// colors
$white: #ffffff;
$black: #000000;
$cyan: #037a92;
$light-cyan: #d6f0f5;
$yellow: #fecb3e;
$text-clr: #1c1d29;
$orange: #f29441;
$text-clr-gray: #848593;
$bdr-clr: #b8ced2;
$scollbar-clr: #d6f0f5;
$gray-two: #afafaf;
$admin-bg: #f9fbfe;
$adm-text-clr: #1c1d29;
$dropdown-orange: #f8ac68;
$gray: #f2f4f4;
$linkcolor: blue;
$gray2: #f3f6f7;
$dark-blue: #1d3a7c;
$red: #fd8484;
$error: #ec0000;
$green: #03c103;
$cyan2: #03616d;

// utils
$curvy-bdr: 35%;
$default-radius: 0.5rem;
$dropbackgroundarrowcolor: #f2f4f4;
$dropdownmainarrow: #707070;
$Clearoragne: #ea862d;
$ToggleColor: #037a92;
//loaderTransparent

$lightBlack: #00000096;
$viewBack: #e9ecef;

  .dropbtn {
    max-height: 56px !important;
    // padding: 1rem 1.5rem;
  }
  img.edit-icon-image {
    height: 1.2em;
  }


  .edit_icon1 {
    color: #acb7acd9;
    cursor: pointer;
    font-size: 20px;
}
  button.search-button {
    position: absolute;
    right: 4px;
    background: transparent;
    border: none;
    height: 52px;
  }

  .sub-container-field {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .search-icon-container {
    background: white;
    padding: 13.5px;
    //border: $bdr-clr solid 1px;
    height: 100%;
    border-left: 0px;
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    button {
      background: transparent;
      border: none;
    }
  }

  img.img-fluid.ms-4.image-not-found {
    height: 18em;
    margin-bottom: 1em;
  }

  .search-icon-container:hover {
    cursor: pointer;
  }

  .length-role {
    color: #707070;
  }

  label.form-check-label.ml-1 {
    font-size: 0.8rem;
  }

  .clear_filter {
   // color: $Clearoragne;
    background: #f2f4f4 0% 0% no-repeat padding-box;
    border-radius: 5px;
    font-weight: 900;
    padding: 5px;
    font-size: 0.8em;
  }


  .fields-filter {
    max-width: 200px;
  }
  .dot {
    height: 10px;
    width: 10px;
   //background-color: $error;
    border-radius: 50%;
    display: inline-block;
  }

  .form-control{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  button.search-button{
    position: absolute;
    right: 4px;
    background: #0000;
    border: none;
    height: 52px;
}

.form-control {
    font-size: .875rem;
     border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
     border: 1px solid #191c1c;
     height: 52px;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.table {
    border-collapse: initial;
    border-spacing: 0 0.575rem;
}

//   .table th {
//     border-color: #b8ced2;
//     border-width: 1px 0;
//     padding-top: 0.75rem;
//     padding-bottom: 0.75rem;
//     vertical-align: middle;
//     height: 68px;
//     background-color: #d6f0f5;
// }
.table th{
  border-color: #b8ced2;
  border-width: 1px 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  vertical-align: middle;
  height: 68px;
  background-color: #aae2ed;
  color: black !important;
}

.table td:first-child, .table th:first-child {
    padding-left: 1.5rem;
    border-left-width: 1px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}


.table td:first-child {
    padding-left: 1.5rem;
    border-left-width: 1px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}


tbody, td, tfoot, th, thead, tr {
  border: 0 solid;
  border-color: inherit;
}
.table td:last-child, .table th:last-child {
  padding-right: 1.5rem;
  border-right-width: 1px;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.table td, .table th {
  border-color: #b8ced2;
  border-width: 1px 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  vertical-align: middle;
  height: 58px;
}
li.current {
  background: #f29441!important;
  border-radius: 36%!important;
}

.table tbody>tr:hover {
  border: none !important;
  background-color: #e7e0e070;
  box-shadow: 2px 2px 58px #0000000d;
  -moz-box-shadow: 2px 2px 58px #0000000d;
  -webkit-box-shadow: 2px 2px 58px #0000000d;
  -o-box-shadow: 2px 2px 58px #0000000d;
}

.pagination-wrap {
  position: relative;
  bottom: 50px;
  left: 10px;
  right: 10px;
  margin: auto;
  ul {
    li {
      width: 30px;
      font-size: 1em;
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
  }
}

// .table tr td{
//   width: 36%;
// }
.piped span {
  border-left: 1px solid #ccc;
  padding: 0 5px;
}
.piped span:first-child {
  border-left: none;
  padding-left: 0;
}
.text-piped span:after {
  content: "|";
  margin: 0 10px;
}
.text-piped span:last-child:after {
  content: '';
  margin: 0 10px;
}

@media only screen and (max-width: 480px) {
  .div{

    max-width: 6.66667%;
  }
}

@media (max-width: 769px) {
  table {
      width: 769px !important;
  }
}

@media (max-width: 545px) {
  .action_buttons{
    display: block !important;
    text-align: left;
  }
  .show-button{
    text-align: left !important;
    margin-left: 22px !important;
  }
}
@media (max-width: 545px) {
.surveyYrDataList{
text-align: left !important;
    margin-left: 8px !important;
}
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%;
}
  
  
.validation{
  color:red!important;
}
.heading{
    background: #008686;
    color: #fff !important;
    font-size:medium;
    padding: 10px;
}
.page-title.h1, h1.page-title {
  // font-size: calc(1.375rem + 0.5vw);
  // font-weight: 500;
  // color: #037a92;
  font-weight: 600;
  color: #037a92;
  font-size: 20px;
}
.mattab{
    background-color: greenyellow;
}
::ng-deep .mat-tab-label:hover{

    color: #fff;
    background-color: #03687c;
    border-color: #026275;

}
::ng-deep .mat-form-field {
  display: contents !important;
  position: relative;
  text-align: left;
}
::ng-deep .mat-tab-body-content {
  /* height: 100%; */
  overflow: hidden !important;
}

// font-family
$poppins-regular: "Poppins", sans-serif;
// font-weight
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// colors
$white: #ffffff;
$black: #000000;
$cyan: #037a92;
$light-cyan: #d6f0f5;
$yellow: #fecb3e;
$text-clr: #1c1d29;
$orange: #f29441;
$text-clr-gray: #848593;
$bdr-clr: #b8ced2;
$scollbar-clr: #d6f0f5;
$gray-two: #afafaf;
$admin-bg: #f9fbfe;
$adm-text-clr: #1c1d29;
$dropdown-orange: #f8ac68;
$gray: #f2f4f4;
$linkcolor: blue;
$gray2: #f3f6f7;
$dark-blue: #1d3a7c;
$red: #fd8484;
$error: #ec0000;
$green: #03c103;
$cyan2: #03616d;

// utils
$curvy-bdr: 35%;
$default-radius: 0.5rem;
$dropbackgroundarrowcolor: #f2f4f4;
$dropdownmainarrow: #707070;
$Clearoragne: #ea862d;
$ToggleColor: #037a92;
//loaderTransparent

$lightBlack: #00000096;
$viewBack: #e9ecef;

  .dropbtn {
    max-height: 56px !important;
    // padding: 1rem 1.5rem;
  }
  img.edit-icon-image {
    height: 1.2em;
  }

  .mat-tab-label-active11 {
    background: #f1954c;
    opacity: 1 !important;
    color: #fff !important;
}

  button.search-button {
    position: absolute;
    right: 4px;
    background: transparent;
    border: none;
    height: 52px;
  }

  .sub-container-field {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: white; */
    /* border-top: 1
  px
  solid; */
  }

  .search-icon-container {
    background: white;
    padding: 13.5px;
    //border: $bdr-clr solid 1px;
    height: 100%;
    border-left: 0px;
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    button {
      background: transparent;
      border: none;
    }
  }

  img.img-fluid.ms-4.image-not-found {
    height: 18em;
    margin-bottom: 1em;
  }

  .search-icon-container:hover {
    cursor: pointer;
  }

  .length-role {
    color: #707070;
  }

  label.form-check-label.ml-1 {
    font-size: 0.8rem;
  }

  .clear_filter {
   // color: $Clearoragne;
    background: #f2f4f4 0% 0% no-repeat padding-box;
    border-radius: 5px;
    font-weight: 900;
    padding: 5px;
    font-size: 0.8em;
  }


  .fields-filter {
    max-width: 200px;
  }
  .dot {
    height: 10px;
    width: 10px;
   //background-color: $error;
    border-radius: 50%;
    display: inline-block;
  }

  .form-control{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  button.search-button{
    position: absolute;
    right: 4px;
    background: #0000;
    border: none;
    height: 52px;
}

.form-control {
    font-size: .875rem;
     border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
     border: 1px solid #191c1c;
     height: 52px;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.table {
    border-collapse: initial;
    border-spacing: 0 0.575rem;
}

  .table th {
    border-color: #b8ced2;
    border-width: 1px 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    vertical-align: middle;
    height: 68px;
    background-color: #d6f0f5;
}

.table td:first-child, .table th:first-child {
    padding-left: 1.5rem;
    border-left-width: 1px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}


.table td:first-child {
    padding-left: 1.5rem;
    border-left-width: 1px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}


tbody, td, tfoot, th, thead, tr {
  border: 0 solid;
  border-color: inherit;
}
.table td:last-child, .table th:last-child {
  padding-right: 1.5rem;
  border-right-width: 1px;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.table td, .table th {
  border-color: #b8ced2;
  border-width: 1px 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  vertical-align: middle;
  height: 58px;
}
li.current {
  background: #f29441!important;
  border-radius: 36%!important;
}

.table tbody>tr:hover {
  border: none !important;
  background-color: #e7e0e070;
  box-shadow: 2px 2px 58px #0000000d;
  -moz-box-shadow: 2px 2px 58px #0000000d;
  -webkit-box-shadow: 2px 2px 58px #0000000d;
  -o-box-shadow: 2px 2px 58px #0000000d;
}

.pagination-wrap {
  position: relative;
  bottom: 50px;
  left: 10px;
  right: 10px;
  margin: auto;
  ul {
    li {
      width: 30px;
      font-size: 1em;
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
  }
}
.divCollegeManagement{
background-color: #3a75aa;
    border: none;
    padding: 0.9rem 1.5rem;
    /* min-width: 122px; */
    color: aliceblue;
    font-size: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    border-radius: 5px;
    width: fit-content;
    margin: 0px 3px;
}
.heading1{
  background-color: #dae3e329;
    width: fit-content;
    margin: auto;
}
@media (max-width: 575.98px) {
  .de-affliate {
    margin-left: none;
    margin-right: none;
  }


}

@media (max-width: 767.98px) {
  .de-affliate {
    margin-left: none;
    margin-right: none;
  }


}

@media (max-width: 991.98px) {
  .de-affliate {
    margin-left: none;
    margin-right: none;
  }
}

@media (max-width: 1199.98px) {
  .de-affliate {
    margin-left: none;
    margin-right: none;

  }
}

.self-center{
  margin-left: 10%;
  margin-right: 10%;
}
::ng-deep .mat-form-field-infix {
  padding: 0.5em 0;
  border-top: none !important;
}

::ng-deep.mat-form-field span {
    white-space: inherit !important;
  }

  mat-checkbox{
    font-weight: bold;
  }
  .upgrade{
    font-size: 18px;
    font-weight: bold;
   
}