div#cdk-overlay-0 {
        max-width: 150vw;
        width: 90% !important;
        height: 100%;
        position: static;
        margin-top: 0px;
}
// .reportTableData td{
//         border: #fff solid 1px !important;
//     }

    .reportTableData th{
    vertical-align: top !important;
}
.reportTableData table th{
    border-bottom-width: 0px !important ;
}