<!-- <section class="footerthird">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 d-flex">
                <ul class="list-unstyled list-inline justify-content-center mx-auto">
                    <li class="list-inline-item">
                        <a href="#" target="_self">Copyright Policy</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" target="_self">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" target="_self">Terms and Conditions</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" target="_self">Disclaimer</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" target="_self">Hyperlink Policy</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" target="_self">FAQ</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" target="_self">Photo Gallery</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" target="_self">Public Grievances</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" target="_self">Site Map</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" target="_self">Web Information Manager</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section> -->

<section class="footerfirst">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 offset-3 pb-4 pt-4">
                <p class="text-center">
                    This site is designed, developed and hosted by <a href="https://www.nic.in/" target="_blank"
                        style="color:#ffeb3b;"> National Informatics Centre (NIC) </a>, content provided by Statistics Divison,
                    D/o Higher Education, Ministry of Education, <a style="color:#ffeb3b;" href="https://www.india.gov.in/" target="_blank">
                        Government of India</a>
                </p>
                <!-- <p class="text-center disclaimer">
                    <strong>
                        Last Updated on 19th November 2022
                    </strong>
                </p> -->
            </div>
            <!-- <div class="col-sm-6 offset-3 pb-5">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="assets/img/logos/moe.png" class="img-fluid mx-auto d-flex mb-4" style="height: 50px;" />
                    </div>
                    <div class="col-sm-3">
                        <img src="assets/img/logos/indiaGov.png" class="img-fluid mx-auto d-flex mb-4" style="height: 50px;" />
                    </div>
                    <div class="col-sm-3">
                        <img src="assets/img/logos/nic.png" class="img-fluid mx-auto d-flex mb-4" style="height: 50px;" />
                    </div>
                    <div class="col-sm-3">
                        <img src="assets/img/logos/nirf.png" class="img-fluid mx-auto d-flex mb-4" style="height: 50px;" />
                    </div>
                    <div class="col-sm-3">
                        <img src="assets/img/logos/kyc.png" class="img-fluid mx-auto d-flex mb-4" style="height: 50px;" />
                    </div>
                    <div class="col-sm-3">
                        <img src="assets/img/logos/ncs.png" class="img-fluid mx-auto d-flex mb-4" style="height: 50px;" />
                    </div>
                    <div class="col-sm-3">
                        <img src="assets/img/logos/aicte.png" class="img-fluid mx-auto d-flex mb-4" style="height: 50px;" />
                    </div>
                    <div class="col-sm-3">
                        <img src="assets/img/logos/swayam.png" class="img-fluid mx-auto d-flex mb-4" style="height: 50px;" />
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>