.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
}
.mat-select-trigger {
    height: 2.125em !important;
}

/* Add your other styles */
.black-checkbox {
    background: #ebeef1f5;
    /* Add any other styles you want for the black checkbox */
  }