<mat-dialog-content>
  <p style="color: red;">
    Are you sure you want to delete this record?
  </p>
  <div class="row" *ngIf="data">
    <div class="col-md-12" *ngIf="data?.data[1]==='DeleteCollege'">
    <p><span style="font-weight: 600;">College Name </span>: {{data?.data[0]?.collegeName}}</p>
    <p><span style="font-weight: 600;">AISHE Code </span>: C-{{data?.data[0]?.id}}</p>
    <p><span style="font-weight: 600;">Survey Year </span>: {{data?.data[0]?.surveyYear}}</p>
    <p><span style="font-weight: 600;">University Name </span>: {{data?.data[0]?.universityName}}</p>
    <p><span style="font-weight: 600;">State </span>: {{data?.data[0]?.stateName}}</p>
    <p><span style="font-weight: 600;">District </span>: {{data?.data[0]?.districtName}}</p>
    <p><span style="font-weight: 600;">College Type </span>: {{data?.data[0]?.collegeType}}</p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1">{{confirmButtonText}}</button>
  <button mat-raised-button style="background-color: red; color: #fff;" mat-dialog-close tabindex="-1">{{cancelButtonText}}</button>
</mat-dialog-actions>
