
  .lat{
    color: brown;
    font-weight: 500;
  }
  .table th{
    font-size: 100% !important;
  }
  .red{
    background-color: #DB9B9B;
  }
  .green{
    background-color: #B9D0BA;
  }