.n-p-btn{width: 40px !important;

    background: rgba(0, 0, 0, 0.2);
  
  }
  // .captcha-text{
  //      background-image: url("/assets/images/backPattern.png");
  // }
  
  .loginshoweyecls{position: absolute;right: 0;top: 10px;}
  
  // .login-lang-select{
  //     //height: 20px;
  //     font-size: x-small !important;
   
  // }
  
  .min-height230{min-height: 265px;}
  
  
  .loginnav ul li{padding: 1px 10px;
    border-right: #76bbea dotted 1px;}
  .loginnav ul li:hover{background: #0d4f7b;}
  .loginnav ul li.active{background: #0d4f7b;}
  // .loginnav ul li a{color: #fff;}
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  @media (min-width: 992px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform:translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }
  .captcha{
    width:100px;
     height:40px
  }
  .hyperLink{
    text-align-last: center;
    color: red;
    font-size: large;
    margin-top: 20px;
  }
  .mat-hint{
    color: red;
  }
  .timer{
    text-align: end;
    color: red;
    font-size: small
  }
  .resend{
    text-align: end;
    color: blueviolet;
    font-size: small;
    cursor: pointer;
  }
  
  
  