<div class="banner-inner-cls pdtb-15">
    <div class="container"> 
    <h1>About Ministry of Education</h1>
    
    </div>
    
    </div>
    <section class="abt-section-cls">
        <div class="container p-1">
         <div class="content wrapp">
         
         <p>Education plays an important role in the Human Resource Development and a remedial role in
    balancing the socio‐economic fabric of the Country. Since citizens of India are its most valuable
    resource, our billion‐strong nation needs the nurture and care in the form of basic education to
    achieve a better quality of life. This warrants an all‐round development of our citizens, which can be
    achieved by building strong foundations in education. In pursuance of this mission, the Ministry of
    Education (MoE) was created on September 26, 1985, through the 174th
    amendment to the Government of India (Allocation of Business) Rules, 1961. Currently, the MoE
    works through two departments:</p>
    
    <ul class="text-left list-style-cls">
    <li>Department of School Education &amp; Literacy</li>
    <li>Department of Higher Education</li>
    </ul>
    
    <p class="">While the <b>Department of School Education &amp; Literacy</b> is responsible for development of school
    education and literacy in the country, the <b>Department of Higher Education</b> takes care of what is one
    of the largest Higher Education systems of the world, just after the United States and China. </p>
    
    <p><b>The main objectives of the Ministry would be:</b></p>
    
    <ul class="text-left list-style-cls" > 
    <li>Formulating the National Policy on Education and to ensure that it is implemented in letter
    and spirit.</li>
    <li>Planned development, including expanding access and improving quality of the educational
    institutions throughout the country, including in the regions where people do not have easy
    access to education.</li>
    <li>Paying special attention to disadvantaged groups like the poor, females and the minorities.</li>
    <li>Provide financial help in the form of scholarships, loan subsidy, etc to deserving students
    from deprived sections of the society</li>
    <li>Encouraging international cooperation in the field of education, including working closely
    with the UNESCO and foreign governments as well as Universities, to enhance the
    educational opportunities in the country</li>
    </ul>
    
    <h4 class="heading-cls-1">Department of Higher Education:</h4>
    <p>The Department of Higher Education, MoE, is responsible for the overall development of the basic
    infrastructure of Higher Education sector, both in terms of policy and planning. Under a planned
    development process, the Department looks after expansion of access and qualitative improvement
    in the Higher Education, through world class Universities, Colleges and other Institutions.  </p>
    
    <p>The importance of Higher Education is indisputable in the scheme of things that represent India to
    the world. In order to establish India as a knowledge‐based society of 21st Century, Higher Education
    can prove to be an important tool.  </p>
        
    <p><b>In this regard, the Department of Higher Education, MoE, has adopted a framework of policy
    initiatives, which include:</b></p>	
    
    <ul class="text-left list-style-cls">
    <li>Improvement of access along with equity and excellence</li>
    <li>Adoption of State‐specific strategies</li>
    <li>Enhancing relevance of H.E. through curriculum reforms</li>
    <li>Reforms in governance structures</li>
    
    </ul>
    
    <p><b>The main objectives of the Deptt of HE are: </b></p>
    <ol class="text-left" style="margin-left: -15px;">
    <li><b>Access, Participation and Expansion</b>
    <ul class="text-left list-style-cls">
    <li>To increase the Gross Enrolment Ratio (GER) in Higher Education to 15% by 2011‐12 and to
    21% by the XIIth Five‐Year Plan.</li>
    <li>To expand institutional base in technical, professional and vocational education by creating
    additional capacity in existing institutions and establishing new ones.</li>
    </ul>
    
    </li>
    
    <li><b>Equity and Inclusion</b>
    <ul class="text-left list-style-cls">
    <li>To remove disparities between communities, social strata and genders by providing
    opportunities of Higher Education to deprived sections.</li>
    <li>Setting up institutions in uncovered areas to remove regional imbalances</li>
    </ul>
    </li>
    
    <li><b>Quality Enhancement</b>
    <ul class="text-left list-style-cls">
    <li>To increase plan support for infrastructure and faculty development in the institutions of
    higher learning</li>
    <li>To attract fresh talent into careers in teaching and research in education</li>
    <li>To improve research facilities in Universities and Colleges</li>
    <li>To promote collaboration with international community, foreign governments and
    institutions, etc</li>
    <li>To promote development of Indian languages</li>
    </ul>
    </li>
    
    <li><b>Reforms in Governance</b>
    <ul class="text-left list-style-cls">
    <li>To promote autonomy and academic reforms in institutions of higher learning</li>
    <li>To initiate institutional restructuring for improved efficiency, relevance and creativity in
    Higher Education.</li>
    
    </ul>
    </li>
    
    </ol>
    
        </div> </div>
        </section>