<div class="container-fluid reg-page-bg pl-4 pr-4">
    <div class="form-group">
        <div class="form-row mr-0 ml-0">
            <div class="col-md-12 mt-0 badges p-2 mt-3">
                <div class="float-left">
                    <span class="font-weight-bold text-lg">Survey Year Wise Merge Institutions</span>
                </div>
                <div class="float-right">
                    <a [routerLink]="" mat-raised-button>Back</a>
                </div>
            </div>
        </div>
    </div>
    <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden">
        <div class="row col-md-12 overflow-hidden">
            <div class="col-md-2 pt-4">
                <label>Show</label>&nbsp;
                <select [(ngModel)]="sharedService.pageSize" (ngModelChange)="onChange($event)">
                    <option *ngFor="let data of sharedService.pageSizeOptions" [value]="data">{{data}}</option>
                </select>
                entries
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-6 pt-4">
                <label>Search:</label>&nbsp;
                <input type="text" size="40" id='myInput' (change)="updateResults()" (keyup)="updateResults()"
                    [(ngModel)]="searchText">
            </div>
            <div class="col-md-2"></div>

        </div>
        <div class="col-md-12 table-responsive">
            <table class="table table-sm table-bordered">
                <tr>
                    <th>S.No</th>
                    <th>Survey Year</th>
                    <th>AISHE Code</th>
                    <th>Institute name</th>
                    <th>Affilliated University</th>
                    <th>State</th>
                    <th class="newRecord">New AISHE Code</th>
                    <th class="newRecord">New Institute Name</th>
                    <th class="newRecord">New Affilliated University</th>
                    <th class="newRecord">Action By</th>
                    <th class="newRecord">Action Time</th>


                </tr>
                <ng-container *ngFor="let obj of listData | paginate : {
                    itemsPerPage: sharedService.pageSize,
                    currentPage: sharedService.page
                  
                  };
            let i = index
            ">
                    <tr>
                        <td>{{i+sharedService.StartLimit + 1}}</td>
                        <td>{{obj.surveyYear}}</td>
                        <td>{{obj.oldAisheCode}}</td>
                        <td>{{obj.oldInstitutionName}}</td>
                        <td>{{obj.oldUniversityName}}</td>
                        <td>{{obj.stateName}}</td>
                        <td>{{obj.newAisheCode}}</td>
                        <td>{{obj.newInstitutionName}}</td>
                        <td>{{obj.newUniversityName}}</td>
                        <td>{{obj.actionBy}}</td>
                        <td>{{obj.actionTime}}</td>

                    </tr>
                </ng-container>
            </table>
        </div>
        <div class="table-norecord" *ngIf="listData.length === 0">No Record Found.</div>
    </div>
    <div class="row col-md-12 overflow-hidden" *ngIf="listData.length !== 0">
        <div class="col-md-3">
            Showing {{sharedService.StartLimit + 1}} to {{sharedService.pageData === -1?0:sharedService.pageData}}
            Of {{listData.length}} entries
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="handlePageChange($event)"
                screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page"></pagination-controls>
        </div>
    </div>
</div>