<div class="container-fluid reg-page-bg pl-4 pr-4">
    <!-- =======================Table is Here===================================== -->

    <div class *ngIf="showTable">
        <div class="row justify-content-between">
            <div class="col-auto">
                <label>Show</label>
                &nbsp;
                <select (ngModelChange)="onChange($event)" [(ngModel)]="pageSize">
                    <option *ngFor="let data of tableSize" [value]="data">
                        {{ data }}
                    </option>
                </select>
                entries
            </div>

            <div class="col-auto ml-4">
                <label>Search:</label>
                &nbsp;
                <input id="myInput" type="text" [(ngModel)]="searchText"
                    (keyup)="applyFilter($any($event.target).value)">
            </div>
            <div class="col-md-2 mt-1">
                <a mat-button (click)="downloadExcel()">
                    <i class="fa fa-file-excel-o" matTooltip="Download as Excel" matTooltipPosition="above"
                        matTooltipClass="downloadExcel" style="font-size: 24px;color: green;"></i>
                    <mat-icon style="color: green;">vertical_align_bottom</mat-icon>
                </a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table mt-2 text-left pe-2" matSort (matSortChange)="sortData($event)">
                <thead>
                    <tr>
                        <th mat-sort-header="id">Request Id</th>
                        <th mat-sort-header="collegeName">College Name</th>
                        <th mat-sort-header="universityName">University Name</th>
                        <th mat-sort-header="requestSub">Request Submitted</th>
                        <th mat-sort-header="collegeType">College Type</th>
                        <th mat-sort-header="stateName">State</th>
                        <th mat-sort-header="districtName">District</th>
                        <!-- <th>Approval History</th> -->
                        <th *ngIf="takeAction">Action</th>
                    </tr>
                </thead>
                <tbody id="myInput">
                    <tr *ngFor="
              let data of sortedData
              | searchFilter : searchText
                | paginate
                  : {
                      itemsPerPage: pageSize,
                      currentPage: page
                    };
              let i = index
            ">
                        <td>
                            <a matTooltip="view detail" (click)="approveCollege(data,data.approvalresp,true)"
                                class="approveRejectLink" style="cursor: pointer;">
                                {{ data.id }}
                            </a>
                            <!-- {{ data.id }} -->
                        </td>
                        <td style="width: 27%">{{ data.collegeName }}</td>
                        <td>{{ data.universityName }}</td>

                        <td>{{data.requestSubmittedOn}}</td>
                        <td>{{ data.collegeType }}</td>

                        <td>{{ data.stateName }}</td>

                        <td>{{ data.districtName }}</td>
                        <!-- <td>
              SNO : {{ data.approvalresp.SNO ? data.approvalresp.SNO : "---" }}
            </td> -->
                        <td *ngIf="takeAction">
                            <mat-icon matTooltip="Click here for Approve/Reject" (click)="approveCollege(data,data.approvalresp,false)"
                                class="pointer">trending_up</mat-icon>
                            <!-- <div class="piped d-flex" style="width: max-content;">

                                <a matTooltip="Click here for Approve/Reject" class="approveRejectLink"
                                    (click)="approveCollege(data,data.approvalresp,false)">

                                    <i class="fas fa-check-circle" aria-hidden="true"
                                        style="color: green;font-size: medium;font-size: 22px;"></i>
                                    <i class="fa fa-times-circle-o ml-1" aria-hidden="true"
                                        style="color: red;font-size:22px;"></i>
                                </a>
                            </div> -->
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-3" *ngIf="showTable">
                Showing {{ StartLimit + 1 }} to
                {{ pageData }} Of
                {{ alldata?.length }} entries
            </div>
            <div class="d-flex justify-content-center" *ngIf="showTable">
                <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="handlePageChange($event)">
                </pagination-controls>
            </div>
        </div>
    </div>
    <!-- ----------------Approved/reject Action--------------------------- -->
    <div class="container-fluid reg-page-bg pl-4 pr-4" *ngIf="showTablesApprove">
        <div>

            <div class="row" style="margin-top: 5%; margin-bottom: -2%;">
                <div class="col-sm-10">
                    <h1 class="page-title position-relative mb-md-4">
                        <span>College Approve/Reject</span>
                    </h1>
                </div>

                <div class="d-flex ml-auto col-sm-2" style="margin-bottom: auto;">
                    <a (click)="viewDetailOnly==false?backToSummaryReport():back()" matTooltip="Back" style="cursor: pointer;" class="text-uppercase">
                        <img src="assets/img/table-back.svg" class="table-back me-2">
                        Back
                    </a>
                </div>
            </div>
            <!-- address for correspondence are below -->
            <div class="row d-flex justify-content-between">
                <!-- head of institution details are below -->
                <div class="table-responsive-sm mt-2 col-lg-9">
                    <table class="table collegeDetails">
                        <thead>
                            <tr>
                                <th colspan="4">
                                    <h3 class="text-center">
                                        <b>College Details</b>
                                    </h3>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Request Id
                                </td>
                                <td class="text-center col-md-2">{{ obj?.requestId }}</td>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Institute Name
                                </td>
                                <td class="text-center col-md-3">{{ obj?.collegeName }}</td>
                            </tr>
                            <tr>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    State
                                </td>
                                <td class="text-center col-md-2">{{ obj?.collegeState }}</td>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    District
                                </td>
                                <td class="text-center col-md-3">{{ obj?.collegeDistrict }}</td>
                            </tr>
                            <tr>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Location
                                </td>
                                <!-- <td *ngIf=" obj?.collegeLocation==='U'">Urban</td>
          <td *ngIf=" obj?.collegeLocation==='R'"> Rural</td> -->
                                <td class="text-center">
                                    {{
                                    obj?.collegeLocation === "U"
                                    ? "Urban"
                                    : obj?.collegeLocation === "R"
                                    ? "Rural"
                                    : ""
                                    }}
                                </td>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    College Type
                                </td>
                                <td class="text-center col-md-3">{{ obj?.collegeType }}</td>
                            </tr>

                            <tr>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Management Type
                                </td>
                                <!-- <td *ngIf=" obj?.collegeLocation==='U'">Urban</td>
          <td *ngIf=" obj?.collegeLocation==='R'"> Rural</td> -->
                                <td class="text-center">{{ obj?.collegeManagementType }}</td>

                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Affiliating University state
                                </td>

                                <td class="text-center col-md-3">{{ obj?.affiliatingUniversityState }}</td>


                            </tr>

                            <tr>

                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Affiliating University
                                </td>
                                <td class="text-center col-md-3">
                                    {{ obj?.affiliatingUniversityName }} ({{obj?.affiliatingUniversityAisheCode}})
                                </td>

                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Is Institution Affiliated earlier to any other University
                                </td>
                                <td class="text-center">{{ obj?.isCollegeAffiliatedBefore }}</td>



                            </tr>
                            <tr>

                                <td *ngIf="obj?.isCollegeAffiliatedBefore === 'YES'"
                                    class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Other Affiliating University
                                </td>
                                <td class="text-center col-md-3" *ngIf="obj?.isCollegeAffiliatedBefore === 'YES'">
                                    {{ obj?.otherAffiliatedUniversityName }}
                                </td>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Year of Establishment
                                </td>

                                <td class="text-center">{{ obj?.yearOfEstablishment }}</td>



                            </tr>
                            <tr>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Year from Which Admission Started
                                </td>
                                <td class="text-center col-md-3">{{ obj?.yearOfStartOfAffiliation }}</td>
                                <!-- <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Is the institution affiliated with any other University/Statutory body?
                                </td>

                                <td class="text-center col-md-3">
                                    {{obj.isOtherAffiliatingUniversityStatuatoryBody?'YES':'NO' }}</td> -->
                            </tr>

                            <tr>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Website
                                </td>
                                <td class="text-center col-md-3">{{ obj?.website }}</td>
                            </tr>


                        </tbody>
                    </table>
                </div>

                <div class="table-responsive-sm mt-2 col-lg-3">
                    <table class="table collegeDetails">
                        <thead>
                            <tr>
                                <th colspan="4">
                                    <h3 class="text-center h3heading">
                                        <b>Address for Correspondence</b>
                                    </h3>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Line1
                                </td>
                                <td class="text-center col-md-2">{{ obj?.addressLine1 }}</td>
                            </tr>
                            <tr>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Line2
                                </td>
                                <td class="text-center col-md-3">{{ obj?.addressLine2 }}</td>
                            </tr>
                            <tr>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    City
                                </td>

                                <td class="text-center col-md-3">{{ obj?.city }}</td>
                            </tr>

                            <tr>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Pincode
                                </td>
                                <td class="text-center col-md-2">{{ obj?.addressPincode }}</td>
                            </tr>
                            <tr>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Latitude
                                </td>

                                <td class="text-center col-md-3">{{ obj?.latitude }}</td>
                            </tr>
                            <tr>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Longitude
                                </td>

                                <td class="text-center col-md-3">{{ obj?.longitude }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="table-responsive-sm mt-2" *ngIf="obj?.isOtherAffiliatingUniversityStatuatoryBody">
                <table class="table" *ngIf="obj?.otherAffiliatingUniversity && obj?.otherAffiliatingUniversity.length">
                    <tr>
                        <th>S.No</th>
                        <th>University</th>
                        <th>AISHE Code</th>
                    </tr>
                    <tr *ngFor="let item of obj?.otherAffiliatingUniversity;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{item.affiliatingUniv}}</td>
                        <td>{{item.affiliatingUnivId}}</td>
                    </tr>
                </table>

                <table class="table" *ngIf="obj?.statuatoryBody && obj?.statuatoryBody.length">
                    <tr>
                        <th>S.No</th>
                        <th>Affiliating/Regulatory/Statutory Body</th>
                    </tr>
                    <tr *ngFor="let item of obj.statuatoryBody;let j=index">
                        <td>{{j+1}}</td>
                        <td>{{item.statuatoryBody}}</td>
                    </tr>
                </table>

            </div>
            <div class="row d-flex justify-content-between mt-2">
                <!-- nodal officer details are below -->
                <div class="table-responsive-sm col-lg-6">
                    <table class="table collegeDetails">
                        <thead>
                            <tr>
                                <th colspan="4">
                                    <h3 class="text-center h3heading">
                                        <b>Nodal Officer Details</b>
                                    </h3>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Officer Name
                                </td>
                                <td class="text-center col-md-2">{{ obj?.nodalOfficesName }}</td>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Gender
                                </td>
                                <td class="text-center col-md-3">{{ obj?.nodalOfficesGenderName }}</td>

                            </tr>
                            <tr>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Designation
                                </td>
                                <td class="text-center col-md-3">{{ obj?.nodalOfficesDesignation }}</td>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Email
                                </td>
                                <td class="text-center col-md-2">{{ obj?.nodalOfficesEmail }}</td>

                            </tr>
                            <tr>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Mobile
                                </td>
                                <td class="text-center col-md-3">{{ obj?.nodalOfficesMobile }}</td>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Phone Landline
                                </td>
                                <td class="text-center col-md-2">
                                    {{ obj?.nodalOfficesPhoneLandLine }}
                                    <!-- </td>

                <td
                  class="text-center col-md-2 tableheading"
                  style="background-color: #f5efef"
                >
                  Survey Year
                </td>
                <td class="text-center col-md-2">{{ obj?.surveyYear }}</td> -->

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive-sm col-lg-6">
                    <table class="table collegeDetails">
                        <thead>
                            <tr>
                                <th colspan="4">
                                    <h3 class="text-center h3heading">
                                        <b>Head of Institution Details</b>
                                    </h3>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Officer Name
                                </td>
                                <td class="text-center col-md-2">{{ obj?.hodname }}</td>

                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Gender
                                </td>
                                <td class="text-center col-md-3">{{ obj?.hodgenderName }}</td>

                            </tr>
                            <tr>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Designation
                                </td>
                                <td class="text-center col-md-3">{{ obj?.hoddesignation }}</td>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Email
                                </td>
                                <td class="text-center col-md-2">{{ obj?.hodemail }}</td>

                            </tr>
                            <tr>
                                <td class="text-center col-md-2 tableheading" style="background-color: #f5efef">
                                    Mobile
                                </td>
                                <td class="text-center col-md-3">{{ obj?.hodmobile }}</td>
                                <!-- <td
                class="text-center col-md-2 tableheading"
                style="background-color: #f5efef"
              >
                Phone Landline
              </td>
              <td class="text-center col-md-2">{{ obj?.hodphoneLandLine }}</td> -->

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Action take by SNO and UNO -->
            <!-- <div class="table-responsive-sm mt-2" *ngIf="similarmatTableData">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="6">
                                <h3 class="text-center h3heading">
                                    <b>
                                        Similar institutions already existing in AISHE
                                    </b>
                                </h3>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <th>AISHE Code</th>
                            <th>Category</th>
                            <th>University/State</th>
                            <th>Body</th>
                            <th>Institution Name</th>
                            <th>Status</th>
                        </tr>
                    </tbody>
                </table>
            </div> -->
<!--comment by-->
            <!-- <div class="table-responsive-sm mt-2" *ngIf="similarmatTableData">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="6">
                                <h3 class="text-center h3heading">
                                    <b>Similar institutions already existing in AISHE</b>
                                </h3>
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <th>AISHE Code</th>
                        <th>Category</th>
                        <th>Institution Name</th>
                        <th>Affiliating University</th>
                        <th>Type</th>
                        <th>State</th>
                        <th>District</th>
                        <th>Status</th>
                    </tr>
                    <tbody id="myTable">
                        <tr *ngFor="
                        let data of SimilarDataTableDataTable
                          | searchFilter : searchText
                          | paginate
                            : {
                                itemsPerPage: pageSize,
                                currentPage: page
                              };
                        let i = index
                      ">
                            <td>C-{{ data.id }}</td>
                            <td>{{ data.category }}</td>
                            <td style="width: 26%;">{{ data.collegeName }}</td>
                            <td>{{data.universityName}} ({{data.universityAishe}})</td>
                            <td>{{ data.type }}</td>
                            <td>{{data.state}}</td>
                            <td>{{data.district}}</td>
                            <td>{{ data.status }}</td>

                        </tr>
                    </tbody>
                </table>
            </div> -->



            <!-- <div *ngIf="approvalResponse?.UNO"><h3 style="font-weight: 500;border-radius: 7px; background-color: #aae2ed;" class="text-center">University Nodal Officer Action</h3></div>
      <div class="mt-2 row" *ngIf="approvalResponse?.UNO">
       <div class="col-md-3">
           <div class="row">
             <div class="col-md-4" style="font-weight: 500;">Action :</div>
             <div class="col-md-8">{{approvalResponse?.UNO}} </div>
           </div>
       </div>
       <div class="col-md-3">
        <div class="row">
          <div class="col-md-4" style="font-weight: 500;">Date :</div>
          <div class="col-md-8">{{approvalResponse?.approvalDateUNO}} </div>
        </div>
       </div>
       <div class="col-md-6">
        <div class="row">
          <div class="col-md-3" style="font-weight: 500;">Remark :</div>
          <div class="col-md-9">{{approvalResponse?.remarksUNO}}</div>
        </div>
       </div>
      </div>
      <div class="table-responsive-sm mt-2" *ngIf="similarmatTableData">
        <table class="table">
          <thead>
            <tr>
              <th colspan="6">
                <h3 class="text-center h3heading">
                  <b>Similar institutions already existing in AISHE</b>
                </h3>
              </th>
            </tr>
          </thead>
          <tr class="text-center">
            <th>AISHE Code</th>
            <th>Category</th>
            <th>University/State</th>
            <th>Body</th>
            <th>Institution Name</th>
            <th>Status</th>
          </tr>
        </table>
      </div>
      <div *ngIf="approvalResponse?.SNO" class="mt-2"><h3 style="font-weight: 500;border-radius: 7px; background-color: #aae2ed;" class="text-center">State Nodal Officer Action</h3></div>
      <div class="mt-2 row" *ngIf="approvalResponse?.SNO">
       <div class="col-md-3">
           <div class="row">
             <div class="col-md-4" style="font-weight: 500;">Action :</div>
             <div class="col-md-8">{{approvalResponse?.SNO}} </div>
           </div>
       </div>
       <div class="col-md-3">
        <div class="row">
          <div class="col-md-4" style="font-weight: 500;">Date :</div>
          <div class="col-md-8">{{approvalResponse?.approvalDateSNO}} </div>
        </div>
       </div>
       <div class="col-md-6">
        <div class="row">
          <div class="col-md-3" style="font-weight: 500;">Remark :</div>
          <div class="col-md-9">{{approvalResponse?.remarksSNO}}</div>
        </div>
       </div>
      </div> -->
            <div class="col-md-12 mt-2 mb-2" *ngIf="obj?.requestId">
                <app-track-approve-status [requestIdData]="obj?.requestId"
                    (statusEvent)="statusReceived($event)"></app-track-approve-status>
            </div>
            <div class="col-md-12 mt-3 mb-2">
                Uploaded Document
                <a (click)="downloadPdf(obj?.document)" style="cursor: pointer; color: blue">
                    Click here to view
                </a>
            </div>
            <div *ngIf="showView">
                <form [formGroup]="userForm">
                    <div class="row" style="margin-top: 4%;" *ngIf="roleId1==='26' || roleId1==='1'">
                        <div class="col-6">
                            <mat-form-field class="example-form-field">
                                <mat-label>Name</mat-label>
                                <input matInput type="text" (keypress)="alphaNumberOnly($event)" formControlName="Name"
                                    required>
                                <!-- <div *ngIf="submitted && f['Name'].errors" class="invalid-feedback">
                                    <div *ngIf="f['Name'].errors['required'] || f['Name'].errors['whitespace']">Name is
                                        required</div>
                                </div> -->
                                <mat-error
                                    *ngIf="userForm.controls['Name'].hasError('required') || userForm.controls['Name'].dirty || userForm.controls['Name'].value || userForm.controls['Name'].touched">Please
                                    enter Name </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-6">
                            <mat-form-field>
                                <mat-label>State</mat-label>
                                <mat-select [disableOptionCentering]="true" #select2 placeholder="State"
                                    [compareWith]="compareFn" formControlName="stateName"
                                    (selectionChange)="getdistrictName();districtfilter();loadUniversityData()"
                                    required>
                                    <mat-select-filter *ngIf="select2.focused" [array]="userData"
                                        (filteredReturn)="filteredState =$event"
                                        [displayMember]="'name'"></mat-select-filter>
                                    <mat-option *ngFor="let item of filteredState" [value]="item.stateCode">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error
                                    *ngIf="userForm.controls['stateName'].hasError('required') || userForm.controls['stateName'].dirty || userForm.controls['stateName'].value || userForm.controls['stateName'].touched">Please
                                    select </mat-error>
                                <!-- <div *ngIf="submitted && f['stateName'].errors" class="invalid-feedback">
                                    <div *ngIf="f['stateName'].errors['required']">State Name is required</div>
                                </div> -->
                            </mat-form-field>
                        </div>
                        <div class="col-6 my-auto mb-2">
                            <mat-label style="font-weight: 500;">University Location</mat-label>&nbsp;
                            <mat-radio-group aria-label="Select an option" formControlName="location"
                                (change)="OtherStateSelected($event)">
                                <mat-radio-button [value]="'same'">Same State</mat-radio-button>&nbsp;&nbsp;
                                <mat-radio-button [value]="'others'">Other States</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="col-6 mb-2" *ngIf="(roleId1 === '26' || roleId1==='1') && previousBool">
                            <mat-form-field>
                                <mat-label>University State</mat-label>
                                <mat-select [disableOptionCentering]="true" #select2 placeholder="University State"
                                    [compareWith]="compareFn" formControlName="universityState" required
                                    (selectionChange)="loadUniversityData();this.userForm.controls['universityId'].setValue(null);">
                                    <mat-select-filter *ngIf="select2.focused" [array]="userData2"
                                        (filteredReturn)="filteredState2 =$event"
                                        [displayMember]="'name'"></mat-select-filter>
                                    <mat-option *ngFor="let item of filteredState2" [value]="item.stateCode">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error
                                    *ngIf="userForm.controls['universityState'].hasError('required') || userForm.controls['universityState'].dirty || userForm.controls['universityState'].value || userForm.controls['universityState'].touched">Please
                                    select </mat-error>
                                <!-- <div *ngIf="submitted && f['stateName'].errors" class="invalid-feedback">
                                    <div *ngIf="f['stateName'].errors['required']">State Name is required</div>
                                </div> -->
                            </mat-form-field>
                        </div>
                        <div class="col-6" *ngIf="roleId1 === '26' || roleId1==='1'">
                            <mat-form-field>
                                <mat-label>University Name</mat-label>
                                <mat-select [disableOptionCentering]="true" #select1 formControlName="universityId"
                                    required>
                                    <mat-select-filter *ngIf="select1.focused" [array]="universityList"
                                        (filteredReturn)="filtereduniversityList = $event"
                                        [displayMember]="'name'"></mat-select-filter>
                                    <mat-option *ngFor="let university of filtereduniversityList"
                                        [value]="university.id">
                                        {{ university.name }}
                                    </mat-option>
                                </mat-select>
                                <mat-error
                                    *ngIf="userForm.controls['universityId'].hasError('required') || userForm.controls['universityId'].dirty || userForm.controls['universityId'].value || userForm.controls['universityId'].touched">Please
                                    select University Name</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field>
                                <mat-label>District Name</mat-label>
                                <mat-select [disableOptionCentering]="true" #select3 placeholder="District"
                                    [compareWith]="compareFn" formControlName="districtName" required>
                                    <mat-select-filter *ngIf="select3.focused" [array]="dataDistrict"
                                        (filteredReturn)="filteredDistrict =$event"
                                        [displayMember]="'name'"></mat-select-filter>
                                    <mat-option *ngFor="let item of filteredDistrict" [value]="item.distCode">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                                <!-- <div *ngIf="submitted && f['districtName'].errors" class="invalid-feedback">
                                    <div *ngIf="f['districtName'].errors['required']">District Name is required</div>
                                </div> -->
                                <mat-error
                                    *ngIf="userForm.controls['districtName'].hasError('required') || userForm.controls['districtName'].dirty || userForm.controls['districtName'].value || userForm.controls['districtName'].touched">Please
                                    select</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-3">
                            <mat-form-field>
                                <mat-label>College Type</mat-label>
                                <mat-select [disableOptionCentering]="true" #select1 placeholder="College Type"
                                    formControlName="instituteType" required>
                                    <mat-select-filter *ngIf="select1.focused" [array]="collegeTypeData"
                                        (filteredReturn)="filteredcollegeTypeData = $event"
                                        [displayMember]="'type'"></mat-select-filter>
                                    <mat-option [value]="''">All</mat-option>
                                    <mat-option *ngFor="let item of filteredcollegeTypeData" [value]="item.id">
                                        {{ item.type }}
                                    </mat-option>
                                </mat-select>
                                <mat-error
                                    *ngIf="userForm.controls['instituteType'].hasError('required') || userForm.controls['instituteType'].dirty || userForm.controls['instituteType'].value || userForm.controls['instituteType'].touched">Please
                                    select </mat-error>

                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field>
                                <mat-label>Management Type</mat-label>
                                <mat-select [disableOptionCentering]="true" #select6 placeholder="Management Type"
                                    formControlName="managementType"
                                    [ngClass]="{ 'is-invalid': submitted && f['managementType'].errors }" required>
                                    <mat-select-filter *ngIf="select6.focused" [array]="managmentData"
                                        (filteredReturn)="filteredmanagementT =$event"
                                        [displayMember]="'management'"></mat-select-filter>
                                    <mat-option *ngFor="let item of filteredmanagementT" [value]="item.id">
                                        {{item.management}}
                                    </mat-option>
                                </mat-select>
                                <mat-error
                                    *ngIf="userForm.controls['managementType'].hasError('required') || userForm.controls['managementType'].dirty || userForm.controls['managementType'].value || userForm.controls['managementType'].touched">Please
                                    select </mat-error>
                            </mat-form-field>
                            <!-- <mat-error *ngIf="(userForm.controls['managementType'].hasError('required')&& submitted)">It
                                is required field</mat-error> -->
                        </div>
                        <div class="col-3">
                            <mat-form-field *ngIf="roleId1==='26' || roleId1==='1'">
                                <mat-label>Survey Year</mat-label>
                                <mat-select formControlName="surveyYear" required>
                                    <mat-option *ngFor="let year of surveyYearList" [value]="year">
                                        {{ year }}
                                    </mat-option>
                                </mat-select>
                                <mat-error
                                    *ngIf="userForm.controls['surveyYear'].hasError('required') || userForm.controls['surveyYear'].dirty || userForm.controls['surveyYear'].value || userForm.controls['surveyYear'].touched">Please
                                    select Survey Year</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="table-responsive-sm mt-4">
                        <div class="row">
                            <div class="col-md-12 table-responsive-sm">

                                <div class="row">
                                    <div class="col-md-2">
                                        Action
                                        <span style="color: red">*</span>
                                        <span style="float: right;">:</span>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-radio-group aria-label="Select an option" formControlName="approveR"
                                            (change)="statusId($event.value)" [ngClass]="{
                          'is-invalid': isSubmitted && f['approveR'].errors
                        }">
                                            <mat-radio-button [value]="1">Approve</mat-radio-button>
                                            <mat-radio-button [value]="2" class="ml-2">
                                                Reject
                                            </mat-radio-button>
                                        </mat-radio-group>

                                        <div *ngIf="isSubmitted && f['approveR'].errors" class="invalid-feedback">
                                            <div *ngIf="f['approveR'].errors['required']">Approve/Reject is required
                                            </div>
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-2">
                                        Remarks
                                        <span style="color: red;">*</span>
                                        <span style="float: right;">:</span>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <!-- <mat-label>Remarks</mat-label> -->
                                            <textarea matInput formControlName="aremarks"
                                                [ngClass]="{ 'is-invalid': isSubmitted || f['aremarks'].errors }"></textarea>
                                            <!-- <span *ngIf="(( isSubmitted || f['aremarks'].touched) && f['aremarks'].errors)" >
                          <span class="validation" *ngIf="f['aremarks'].errors['required']||f['aremarks'].errors['whitespace']">Remarks is required</span>
                          <span class="validation" *ngIf="f['aremarks'].errors['maxlength']" style="color: #d50404;">Maximum length is 2000</span>
                          <span class="validation" *ngIf="f['aremarks'].errors['minlength']" style="color: #d50404;">Minimum length is 3</span>
                        </span> -->
                                            <mat-error
                                                *ngIf="(( isSubmitted || f['aremarks'].touched) && f['aremarks'].errors)">
                                                <span class="validation"
                                                    *ngIf="f['aremarks'].errors['required']||f['aremarks'].errors['whitespace']"
                                                    style="color: #d50404;">
                                                    Remarks is required
                                                </span>
                                                <span class="validation" *ngIf="f['aremarks'].errors['maxlength']"
                                                    style="color: #d50404;">
                                                    Maximum length is 2000
                                                </span>
                                                <!-- <span class="validation" *ngIf="f['aremarks'].errors['minlength']" style="color: #d50404;">Minimum length is 3</span> -->
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <br>
                                <div class="row">

                                    <div class="col-md-2" style="text-align: right;">

                                        <!-- <div *ngIf="isSubmitted && f['alldocumentsvalid'].errors" class="invalid-feedback">
                    <div *ngIf="f['alldocumentsvalid'].errors['required']">
                      All documents are valid and institution is verified.
                    </div>
                  </div> -->
                                    </div>
                                    <div class="col-md-5" *ngIf="isStatusId === 1">
                                        <input class="form-check-input" type="checkbox" value="alldocumentsvalid"
                                            formControlName="alldocumentsvalid" [ngClass]="{
                      'is-invalid': isSubmitted && f['alldocumentsvalid'].errors
                    }" style="width: 9px;">
                                        <label for="inlineCheckbox1">
                                            &nbsp;All of the documents are valid and institution is verified.
                                            <span style="color: red">*</span>
                                        </label>
                                        <br>
                                        <span
                                            *ngIf="isSubmitted && userForm.get('alldocumentsvalid')?.hasError('required')"
                                            style="color: #d50404;">
                                            This field is required.
                                        </span>
                                    </div>
                                    <div class="col-md-5"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="text-center">

                        <button class="btn1" [disabled]="requestStatus?.UNO==='Pending'">
                            Submit
                        </button>
                        <button class="btn1 btn btn-danger btn-sm" (click)="back()">Back</button>


                    </div> -->
                    <div class="row mt-2">
                        <div class="col-md-12 text-center">
                         <button class="btn1 btn btn-success btn-sm" [disabled]="requestStatus?.UNO==='Pending'" (click)="Onsubmit()">Submit</button>&nbsp;&nbsp;
                         <button class="btn1 btn btn-primary btn-sm" (click)="openCheckSimilarDialog()" type="">Check Similar Institute</button>&nbsp;&nbsp;
                         <button class="btn1 btn btn-danger btn-sm" (click)="back()">Back</button>
                         
                        </div>
                     </div>
                </form>
            </div>

        </div>
    </div>

</div>
<!-- ---------------- University college module--------------------------- -->
