

.label {
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-top: 15px!important;
}
.uppercase{
    text-transform: uppercase;
  }
  .backgroundColor {
    background: #ebeef1f5;
    /* Add any other styles you want for the black checkbox */
  }
  table {
    width: 100%;
  }