.captcha{
    width:100px;
     height:40px
  }
  .mat-dialog-content{
    display: block !important;
    margin: 0 -24px !important;
    padding: 0 24px !important;
    max-height: 100vh !important;
    overflow: hidden !important;
  }
  .timer{
    text-align: end;
    color: red;
    font-size: small
  }
  .mat-hint{
    color: red;
  }
  .resend{
    text-align: end;
    color: blueviolet;
    font-size: small;
    cursor: pointer;
  }
  .loginshoweyecls{position: absolute;right: 0;top: 10px;}