// tr:nth-child(even){
//     background:#d6e1f7;
//   }
//   tr:nth-child(odd){
//     background:#bfe1ef;
//   }
//   tr:nth-child(even):hover{
//     background:#aec1e7;
//   }
  
//   tr:nth-child(odd):hover{
//     background:#91b3c3;
//   }
.table tr:nth-child(odd) td{
  background-color: #f5eded
}
.table tr:nth-child(even) td{
  background-color: #ffffff;
}
  .total {
    font-weight: 600;
  }