<div class="container-fluid reg-page-bg pl-4 pr-4">
    <div class="form-group">
        <div class="form-row mr-0 ml-0">
            <div class="col-md-12 mt-0 badges p-2 mt-3">
                <div class="float-left">
                    <span class="font-weight-bold text-lg">Day Wise Progress Monitoring</span>
                </div>
            </div>
        </div>
    </div>
    <div class="animated fadeInDown card mb-2 pt-2 pb-1 bg-light overflow-hidden">

        <div class="row col-md-12 overflow-hidden pt-2">
            <div class="col-md-2">
                <mat-form-field class="d-block">
                    <mat-label>Survey Year:</mat-label>
                    <mat-select [(ngModel)]="surveyYear" (selectionChange)="getYear($event.value)"> 
                        <mat-option *ngFor="let item of surveyYearList" [value]="item.surveyYearValue">{{item.surveyYearValue}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-2">
                <mat-form-field class="d-block">
                    <mat-label>Month</mat-label>
                    <mat-select [(ngModel)]="month" (selectionChange)="getSummaryMonitering($event.value)">
                        <mat-option *ngFor="let item of sharedService.monthList"
                            [value]="item.id">{{item.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field class="d-block">
                    <mat-label>Year</mat-label>
                    <mat-select [(ngModel)]="year" (selectionChange)="getSummaryMonitering($event.value)">
                        <mat-option *ngFor="let item of yearList"
                            [value]="item">{{item}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2 pt-2">
                <button mat-button class="btn btn-danger btn-sm mt-2" (click)="getSummaryMonitering('')"><mat-icon matTooltip="Refresh">refresh</mat-icon></button>
            </div>
        </div>
        <div class="row col-md-12 overflow-hidden">
            <div class="col-md-12 table-responsive">
                <table class="table table-bordered table-sm">
                    <tr>
                        <th>Date</th>
                        <th>University</th>
                        <th>College</th>
                        <th>Standalone</th>
                        <th>Total</th>
                    </tr>
                    <ng-container *ngFor="let data of totalFormUploaded">
                        <tr>
                            <td>{{data.date}}</td>
                            <td>{{data.university}}</td>
                            <td>{{data.college}}</td>
                            <td>{{data.standalone}}</td>
                            <td>{{data.total}}</td>
                        </tr>
                    </ng-container>
                    <tr>
                        <td class="total">Total</td>
                        <td class="total">
                          {{universityTotal}}
                        </td>
                        <td class="total">
                          {{collegeTotal}}
                        </td>
                        <td class="total">
                          {{standaloneTotal}}
                        </td>
                        <td class="total">
                          {{totalTotal}}
                        </td>
                      </tr>
                </table>
            </div>
        </div>
    </div>
</div>