<div class="container-fluid reg-page-bg pl-4 pr-4">
  <div class="form-group">
    <div class="form-row mr-0 ml-0">
      <div class="col-md-12 mt-0 badges p-2 mt-3">
        <div class="float-left">
          <span class="font-weight-bold text-lg">University Management</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 animated fadeInDown card shadow mb-4 pt-1 pb-2 pr-4 pl-4 bg-light">
    <mat-tab-group animationDuration="0ms" class="exam-tabing-steps" [(selectedIndex)]="selectedIndex"
      (selectedTabChange)="tabSelected($event)">
      <mat-tab label="Dashboard"> </mat-tab>
      <!-- view -->
      <mat-tab label="Approved List">
        <mat-card class="mt-2 card" style="border-radius: 26px" *ngIf="view ? !view.isView : true">
          <form [formGroup]="instiForm" (ngSubmit)="findOnView()" *ngIf="view ? !view.isView : true">
            <div class="col-md-12" style="display: flex; flex-direction: column">
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <mat-form-field appearance="fill" style="width: 100%">
                    <mat-label>Search by AISHE-Code or University Name</mat-label>
                    <input matInput formControlName="searchText" (keyup)="
                        searchTextValue();
                        instiForm.controls['surveyYearValue'].setValue('');
                        instiForm.controls['stateValue'].setValue('');
                        instiForm.controls['universityType'].setValue('')
                      " />
                    <!-- <input matInput formControlName="aisheCodeValue" maxlength="7" (keyup)="editCollegeValidation();instiForm.controls['collegeLocation'].setValue('');instiForm.controls['collegeType'].setValue('');"/> -->
                  </mat-form-field>
                </div>
                <div class="col-md-3"></div>
              </div>

              <div class="col-md-12" style="display: flex; flex-direction: column">
                <div class="row mt-4 mx-auto">
                  <div class="col-auto">
                    <mat-form-field appearance="fill">
                      <mat-label>Survey Year</mat-label>
                      <mat-select formControlName="surveyYearValue" (selectionChange)="
                          instiForm.controls['searchText'].setValue('')
                        ">
                        <mat-option *ngFor="let year of surveyYearList" [value]="year">{{ year }}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          instiForm.controls['surveyYearValue'].hasError(
                            'required'
                          ) ||
                          instiForm.controls['surveyYearValue'].dirty ||
                          instiForm.controls['surveyYearValue'].value ||
                          instiForm.controls['surveyYearValue'].touched
                        ">
                        Please select Survey Year
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-auto">
                    <mat-form-field appearance="fill">
                      <mat-label>State</mat-label>
                      <mat-select [disableOptionCentering]="true" #select1 placeholder="State"
                        formControlName="stateValue">
                        <mat-select-filter *ngIf="select1.focused" [array]="stateList"
                          (filteredReturn)="stateListfilter = $event" [displayMember]="'name'"></mat-select-filter>
                        <mat-option [value]="' '">All</mat-option>
                        <mat-option *ngFor="let item of stateListfilter" [value]="item.stateCode">
                          {{ item.name }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          instiForm.controls['stateValue'].hasError(
                            'required'
                          ) ||
                          instiForm.controls['stateValue'].dirty ||
                          instiForm.controls['stateValue'].value ||
                          instiForm.controls['stateValue'].touched
                        ">
                        Please select State
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-auto">
                    <mat-form-field appearance="fill">
                      <mat-label>University Type</mat-label>
                      <mat-select [disableOptionCentering]="true" #select2 placeholder="University Type"
                        formControlName="universityType">
                        <mat-select-filter *ngIf="select2.focused" [array]="universityType"
                          (filteredReturn)="universityTypefilter = $event" [displayMember]="'type'"></mat-select-filter>
                        <mat-option [value]="' '">All</mat-option>
                        <mat-option *ngFor="let item of universityTypefilter" [value]="item.id">
                          {{ item.type }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <!-- <div class="col-md-3">
              <mat-form-field appearance="fill">
                <mat-label>Standalone Institution</mat-label>
                <mat-select formControlName="standaloneValue">
                  <mat-select-filter [array]="universityList" (filteredReturn)="filtereduniversityList =$event" [displayMember]="'name'"></mat-select-filter>
                  <mat-option *ngFor="let university of filtereduniversityList" [value]="university.id">
                   {{university.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->
                </div>
              </div>
              <div class="row mt-1">
                <div Class="col-sm-12 text-center mb-3">
                  <button class="btn1 btn btn-success btn-sm" type="submit">
                    Find</button>&nbsp;
                  <button class="btn1 btn btn-danger btn-sm" type="button" (click)="
                      instiForm.reset(); view?.resetdata(); submitted = false
                    ">
                    Reset
                    <!-- <i class="fa fa-refresh" aria-hidden="true"></i> -->
                  </button>
                </div>
              </div>
            </div>
          </form>
        </mat-card>
      </mat-tab>
      <!-- Edit -->
      <mat-tab label="Edit" *ngIf="accessibilityData1?.uedit">
        <mat-card class="mt-2 card" style="border-radius: 26px" *ngIf="edit ? !edit.isEdit : true">
          <form [formGroup]="instiForm" (ngSubmit)="findOnEdit()" *ngIf="edit ? !edit.isEdit : true">
            <div class="col-md-12">
              <div class="col-md-12" style="display: flex; flex-direction: column">
                <div class="row mt-4 mx-auto">
                  <div class="col-auto">
                    <mat-form-field appearance="fill">
                      <mat-label>Survey Year</mat-label>
                      <mat-select formControlName="surveyYearValue">
                        <mat-option *ngFor="let year of surveyYearList" [value]="year">{{ year }}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          instiForm.controls['surveyYearValue'].hasError(
                            'required'
                          ) ||
                          instiForm.controls['surveyYearValue'].dirty ||
                          instiForm.controls['surveyYearValue'].value ||
                          instiForm.controls['surveyYearValue'].touched
                        ">
                        Please select Survey Year
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-auto">
                    <mat-form-field appearance="fill">
                      <mat-label>State</mat-label>
                      <mat-select [disableOptionCentering]="true" #select1 placeholder="State"
                        formControlName="stateValue">
                        <mat-select-filter *ngIf="select1.focused" [array]="stateList"
                          (filteredReturn)="stateListfilter = $event" [displayMember]="'name'"></mat-select-filter>
                        <mat-option [value]="' '">All</mat-option>
                        <mat-option *ngFor="let item of stateListfilter" [value]="item.stateCode">
                          {{ item.name }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          instiForm.controls['stateValue'].hasError(
                            'required'
                          ) ||
                          instiForm.controls['stateValue'].dirty ||
                          instiForm.controls['stateValue'].value ||
                          instiForm.controls['stateValue'].touched
                        ">
                        Please select Survey Year
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-auto">
                    <mat-form-field appearance="fill">
                      <mat-label>University Type</mat-label>
                      <mat-select [disableOptionCentering]="true" #select2 placeholder="University Type"
                        formControlName="universityType">
                        <mat-select-filter *ngIf="select2.focused" [array]="universityType"
                          (filteredReturn)="universityTypefilter = $event" [displayMember]="'type'"></mat-select-filter>
                        <mat-option [value]="' '">All</mat-option>
                        <mat-option *ngFor="let item of universityTypefilter" [value]="item.id">
                          {{ item.type }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <!-- <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Standalone Institution</mat-label>
            <mat-select formControlName="universityValue">
              <mat-select-filter [array]="universityList" (filteredReturn)="filtereduniversityList =$event" [displayMember]="'name'"></mat-select-filter>
              <mat-option *ngFor="let university of filtereduniversityList" [value]="university.id">
               {{university.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->
                </div>
              </div>
              <div class="row mt-1">
                <div Class="col-sm-12 text-center mb-3">
                  <button class="btn1 btn btn-success btn-sm" type="submit">
                    Find</button>&nbsp;
                  <button class="btn1 btn btn-danger btn-sm" (click)="
                      instiForm.reset(); edit?.resetdata(); submitted = false
                    ">
                    Reset
                    <!-- <i class="fa fa-refresh" aria-hidden="true"></i> -->
                  </button>
                </div>
              </div>
            </div>
          </form>
        </mat-card>
      </mat-tab>

      <!--   ADD -->
      <mat-tab label="Add" *ngIf="accessibilityData1?.uadd">
        <div class="container-fluid reg-page-bg" style="margin: 2% 0px; padding-left: 0px; padding-right: 0px">
          <mat-card>
            <div class="row" style="margin-bottom: -2%">
              <div class="col-10 d-flex justify-content-between align-items-center">
                <h1 class="page-title position-relative mb-md-4">
                  <span>Add University</span>
                </h1>
              </div>
              <div class="col-2 d-flex justify-content-end mt-2 ml-auto"></div>
            </div>
            <mat-card class="mt-2 card" style="border-radius: 26px">
              <form [formGroup]="addUniversityform" #form="ngForm" (ngSubmit)="addUniversity()">
                <div class="row mt-4">
                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>Survey Year</mat-label>
                      <mat-select formControlName="surveyYear">
                        <mat-option *ngFor="let year of surveyYearList" [value]="year">{{ year }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="
                        addUniversityform.controls['surveyYear'].hasError(
                          'required'
                        ) && submitted
                      ">This field is required.</mat-error>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>University Name</mat-label>
                      <input matInput formControlName="name" (keypress)="alphaNumberOnly($event)" />
                    </mat-form-field>
                    <mat-error *ngIf="
                        (addUniversityform.controls['name'].hasError(
                          'required'
                        ) ||
                          addUniversityform.controls['name'].hasError(
                            'whitespace'
                          )) &&
                        submitted
                      ">This field is required.</mat-error>
                    <mat-error *ngIf="
                        addUniversityform.controls['remarks'].hasError(
                          'maxlength'
                        )
                      ">Maximum Length is 255</mat-error>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>University Type</mat-label>
                      <mat-select [disableOptionCentering]="true" #select2 placeholder="University Type"
                        formControlName="typeId" (selectionChange)="loadSubType($event.value)">
                        <mat-select-filter *ngIf="select2.focused" [array]="universityType"
                          (filteredReturn)="universityTypefilter = $event" [displayMember]="'type'"></mat-select-filter>
                        <mat-option *ngFor="let item of universityTypefilter" [value]="item">
                          {{ item.type }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="
                        addUniversityform.controls['typeId'].hasError(
                          'required'
                        ) && submitted
                      ">This field is required.</mat-error>
                  </div>

                  <div class="col-sm-4" *ngIf="subtype?.length > 0">
                    <mat-form-field appearance="fill">
                      <mat-label>Sub Type</mat-label>
                      <mat-select multiple placeholder="Sub Type" formControlName="subTypeId">
                        <!-- <mat-select-filter
                          *ngIf="select2.focused"
                          [array]="universityType"
                          (filteredReturn)="universityTypefilter = $event"
                          [displayMember]="'type'"
                        ></mat-select-filter> -->
                        <mat-option *ngFor="let item of subtype" [value]="item">
                          {{ item.type }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="
                        addUniversityform.controls['subTypeId'].hasError(
                          'required'
                        ) && submitted
                      ">This field is required.</mat-error>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>Ownership</mat-label>
                      <mat-select placeholder="Ownership" formControlName="ownerShipId">
                        <!-- <mat-select-filter *ngIf="select3.focused" [array]="dataDistrict"
                      (filteredReturn)="filteredDistrict =$event" [displayMember]="'name'"></mat-select-filter> -->
                        <mat-option *ngFor="let item of listOwnership" [value]="item">
                          {{ item.type }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="
                        addUniversityform.controls['ownerShipId'].hasError(
                          'required'
                        ) && submitted
                      ">This field is required.</mat-error>
                  </div>
                  <!-- <div class="col-sm-12">
        <h1 class="page-title position-relative mb-md-4"><span>Complete Address</span></h1>
      </div> -->
                  <!--Head Officer-->
                  <h3 class="heading">Institution Head Details</h3>
                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>Name of Vice Chancellor/Director/Head/Principal</mat-label>
                      <input matInput formControlName="headOfficerName" (keypress)="alphaNumberOnly($event)" />
                    </mat-form-field>
                    <mat-error *ngIf="
                        (addUniversityform.controls['headOfficerName'].hasError(
                          'required'
                        ) ||
                          addUniversityform.controls[
                            'headOfficerName'
                          ].hasError('whitespace')) &&
                        submitted
                      ">This field is required.</mat-error>
                  </div>

                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>Email</mat-label>
                      <input matInput formControlName="headOfficerEmail" />
                    </mat-form-field>
                    <mat-error *ngIf="
                        (addUniversityform.controls[
                          'headOfficerEmail'
                        ].hasError('required')) &&
                        submitted
                      ">This field is required.</mat-error>
                  </div>

                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>Mobile</mat-label>
                      <input matInput formControlName="headOfficerMobile" (keypress)="onKeypressEvent($event,10)" />
                    </mat-form-field>
                    <mat-error *ngIf="
                        (addUniversityform.controls[
                          'headOfficerMobile'
                        ].hasError('required')) &&
                        submitted
                      ">This field is required.</mat-error>
                  </div>

                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>Telephone No. (with STD
                        code)</mat-label>
                      <input matInput formControlName="headOfficerTelephone" (keypress)="onKeypressEvent($event,13)" />
                    </mat-form-field>
                    <mat-error *ngIf="
                        (addUniversityform.controls[
                          'headOfficerTelephone'
                        ].hasError('required')) &&
                        submitted
                      ">This field is required.</mat-error>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>Designation</mat-label>
                      <input matInput formControlName="headOfficerDesignation" (keypress)="alphaNumberOnly($event)" />
                    </mat-form-field>
                    <mat-error *ngIf="
                        (addUniversityform.controls[
                          'headOfficerDesignation'
                        ].hasError('required')) &&
                        submitted
                      ">This field is required.</mat-error>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>Gender</mat-label>
                      <mat-select formControlName="headOfficerGender">
                        <mat-option *ngFor="let item of listGender" [value]="item.id">
                          {{ item.name }}
                        </mat-option>
                      </mat-select>
                      <!-- <input matInput formControlName="headOfficerGender" /> -->
                    </mat-form-field>
                    <mat-error *ngIf="
                        (addUniversityform.controls[
                          'headOfficerGender'
                        ].hasError('required')) &&
                        submitted
                      ">This field is required.</mat-error>
                  </div>

                  <hr />
                  <h3 class="heading">Nodal Officer Details:</h3>
                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>Name of Nodal Officer for AISHE</mat-label>
                      <input matInput formControlName="nodalOfficerName" (keypress)="alphaNumberOnly($event)" />
                    </mat-form-field>
                    <mat-error *ngIf="
                        (addUniversityform.controls[
                          'nodalOfficerName'
                        ].hasError('required')) &&
                        submitted
                      ">This field is required.</mat-error>
                  </div>

                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>Email</mat-label>
                      <input matInput formControlName="nodalOfficerEmail" />
                    </mat-form-field>
                    <mat-error *ngIf="
                        (addUniversityform.controls[
                          'nodalOfficerEmail'
                        ].hasError('required')) &&
                        submitted
                      ">This field is required.</mat-error>
                  </div>

                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>Mobile</mat-label>
                      <input matInput formControlName="nodalOfficerMobile" (keypress)="onKeypressEvent($event,10)" />
                    </mat-form-field>
                    <mat-error *ngIf="
                        (addUniversityform.controls[
                          'nodalOfficerMobile'
                        ].hasError('required')) &&
                        submitted
                      ">This field is required.</mat-error>
                  </div>

                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>Telephone No. (with STD
                        code)</mat-label>
                      <input matInput formControlName="nodalOfficerTelephone" (keypress)="onKeypressEvent($event,13)" />
                    </mat-form-field>
                    <mat-error *ngIf="
                        (addUniversityform.controls[
                          'nodalOfficerTelephone'
                        ].hasError('required')) &&
                        submitted
                      ">This field is required.</mat-error>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>Designation</mat-label>
                      <input matInput formControlName="nodalOfficerDesignation" (keypress)="alphaNumberOnly($event)" />
                    </mat-form-field>
                    <mat-error *ngIf="
                        (addUniversityform.controls[
                          'nodalOfficerDesignation'
                        ].hasError('required')) &&
                        submitted
                      ">This field is required.</mat-error>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>Gender</mat-label>
                      <mat-select formControlName="nodalOfficerGender">
                        <mat-option *ngFor="let item of listGender" [value]="item.id">
                          {{ item.name }}
                        </mat-option>
                      </mat-select>
                      <!-- <input
                        matInput
                        formControlName=""
                        (keypress)="alphaNumberOnly($event)"
                      /> -->
                    </mat-form-field>
                    <mat-error *ngIf="
                        (addUniversityform.controls[
                          'nodalOfficerGender'
                        ].hasError('required')) &&
                        submitted
                      ">This field is required.</mat-error>
                  </div>

                  <!--Addresss-->
                  <h3 class="heading">Address:</h3>
                  <div class="col-md-12 mb-2">
                    <mat-label class="font-weight-bolder text-sm">Location of the Institution:-</mat-label>
                    <mat-radio-group formControlName="location" (change)="isLocation($event.value)" required>
                      &nbsp;
                      <mat-radio-button value="R">Rural </mat-radio-button>&nbsp;
                      <mat-radio-button value="U">Urban </mat-radio-button>
                    </mat-radio-group>
                    <div *ngIf="isInvalid('location')" class="text-danger text-sm">
                      Please select a location.
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>Address Line1</mat-label>
                      <input matInput formControlName="addressLine1" (keypress)="alphaNumberOnly($event)" />
                    </mat-form-field>
                    <mat-error *ngIf="
                        (addUniversityform.controls['addressLine1'].hasError(
                          'required'
                        )) &&
                        submitted
                      ">This field is required.</mat-error>
                  </div>

                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>Address Line2</mat-label>
                      <input matInput formControlName="addressLine2" (keypress)="alphaNumberOnly($event)" />
                    </mat-form-field>
                    <mat-error *ngIf="
                        (addUniversityform.controls['addressLine2'].hasError(
                          'required'
                        )) &&
                        submitted
                      ">This field is required.</mat-error>
                  </div>

                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>City</mat-label>
                      <input matInput formControlName="city" (keypress)="alphaNumberOnly($event)" />
                    </mat-form-field>
                    <mat-error *ngIf="
                        (addUniversityform.controls['city'].hasError(
                          'required'
                        )) &&
                        submitted
                      "> This field is required.</mat-error>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>State</mat-label>
                      <mat-select [disableOptionCentering]="true" #select1 placeholder="State"
                        formControlName="stateCode" (ngModelChange)="getdistrictName()">
                        <mat-select-filter *ngIf="select1.focused" [array]="stateList"
                          (filteredReturn)="stateListfilter = $event" [displayMember]="'name'"></mat-select-filter>
                        <mat-option *ngFor="let item of stateListfilter" [value]="item">
                          {{ item.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <!-- <div *ngIf="submitted && f['stateCode'].errors" class="invalid-feedback">
      <div *ngIf="f['stateCode'].errors['required']">State Name is required</div>
    </div>  -->
                    <mat-error *ngIf="
                        (addUniversityform.controls['stateCode'].hasError(
                          'required'
                        )) &&
                        submitted
                      "> This field is required.</mat-error>
                  </div>

                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>District</mat-label>
                      <mat-select [disableOptionCentering]="true" #select3 placeholder="District"
                        formControlName="districtCode" (selectionChange)="
                          addUniversityform.controls['location'].value === 'R'
                            ? getBlock1($event.value)
                            : getUrban1($event.value);
                          getSubDistrict($event.value)
                        ">
                        <mat-select-filter *ngIf="select3.focused" [array]="dataDistrict"
                          (filteredReturn)="filteredDistrict = $event" [displayMember]="'name'"></mat-select-filter>
                        <mat-option *ngFor="let item of filteredDistrict" [value]="item">
                          {{ item.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="
                        addUniversityform.controls['districtCode'].hasError(
                          'required'
                        ) && submitted
                      ">This field is required.</mat-error>
                  </div>

                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>Sub District</mat-label>
                      <mat-select [disableOptionCentering]="true" #select3 placeholder="Sub District"
                        formControlName="subDistrictId">
                        <!-- <mat-select-filter
                          *ngIf="select3.focused"
                          [array]="dataDistrict"
                          (filteredReturn)="filteredDistrict = $event"
                          [displayMember]="'name'"
                        ></mat-select-filter> -->
                        <mat-option *ngFor="let item of subDistrictList" [value]="item">
                          {{ item.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="
                        addUniversityform.controls['subDistrictId'].hasError(
                          'required'
                        ) && submitted
                      "> This field is required.</mat-error>
                  </div>

                  <div class="col-sm-4" *ngIf="addUniversityform.controls['location'].value === 'R'">
                    <mat-form-field appearance="fill">
                      <mat-label>Block</mat-label>
                      <mat-select [disableOptionCentering]="true" #select3 placeholder="Block"
                        formControlName="blockId">
                        <!-- <mat-select-filter
                          *ngIf="select3.focused"
                          [array]="dataDistrict"
                          (filteredReturn)="filteredDistrict = $event"
                          [displayMember]="'name'"
                        ></mat-select-filter> -->
                        <mat-option *ngFor="let item of listBlock" [value]="item">
                          {{ item.blockName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="
                        addUniversityform.controls['blockId'].hasError(
                          'required'
                        ) && submitted
                      "> This field is required.</mat-error>
                  </div>
                  <div class="col-sm-4" *ngIf="addUniversityform.controls['location'].value === 'U'">
                    <mat-form-field appearance="fill">
                      <mat-label>Urban Local Body</mat-label>
                      <mat-select [disableOptionCentering]="true" #select3 placeholder="Urban Local Body"
                        formControlName="ulbId">
                        <!-- <mat-select-filter
                          *ngIf="select3.focused"
                          [array]="dataDistrict"
                          (filteredReturn)="filteredDistrict = $event"
                          [displayMember]="'name'"
                        ></mat-select-filter> -->
                        <mat-option *ngFor="let item of listUrban" [value]="item">
                          {{ item.ulbName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="
                        addUniversityform.controls['ulbId'].hasError(
                          'required'
                        ) && submitted
                      "> This field is required.</mat-error>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>Pincode</mat-label>
                      <input matInput placeholder="Pincode" formControlName="pinCode" maxlength="6" />
                    </mat-form-field>
                    <mat-error *ngIf="
                        addUniversityform.controls['pinCode'].hasError(
                          'required'
                        ) && submitted
                      "> This field is required.</mat-error>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>Website</mat-label>
                      <input matInput placeholder="Website" formControlName="website" />
                    </mat-form-field>
                    <mat-error *ngIf="
                        addUniversityform.controls['website'].hasError(
                          'required'
                        ) && submitted
                      ">This field is required.</mat-error>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>Remarks</mat-label>
                      <input matInput formControlName="remarks" />
                    </mat-form-field>
                    <mat-error *ngIf="
                        (addUniversityform.controls['remarks'].hasError(
                          'required'
                        ) ||
                          addUniversityform.controls['remarks'].hasError(
                            'whitespace'
                          )) &&
                        submitted
                      ">It is required field</mat-error>
                    <mat-error *ngIf="
                        addUniversityform.controls['remarks'].hasError(
                          'minlength'
                        )
                      " style="color: #d50404">Minimum Length is 3</mat-error>
                    <mat-error *ngIf="
                        addUniversityform.controls['remarks'].hasError(
                          'maxlength'
                        )
                      " style="color: #d50404">Maximum Length is 2000</mat-error>
                  </div>

                  <div class="col-sm-12">
                    <mat-checkbox formControlName="isDCFApplicable">Is DCF Applicable</mat-checkbox>
                    <!-- <mat-form-field appearance="fill">
        <mat-label>isDCFApplicable</mat-label>

        <mat-checkbox  formControlName="isDCFApplicable"   (change)="checkCheckBoxvalue($event)"  [ngClass]="{ 'is-invalid': submitted && f['isDCFApplicable'].errors }">Check me!</mat-checkbox>
      </mat-form-field>
      <div *ngIf="submitted && f['isDCFApplicable'].errors" class="invalid-feedback">
        <div *ngIf="f['isDCFApplicable'].errors['required']">University isDCFApplicable is required</div>
      </div> -->
                    <mat-error *ngIf="isInvalid('isDCFApplicable')">
                      This field is required.
                    </mat-error>
                  </div>

                  <div class="col-sm-12" style="text-align: center">
                    <button class="btn1 btn btn-success btn-sm" type="submit">
                      SUBMIT</button>&nbsp;
                    <button class="btn1 btn btn-danger btn-sm" (click)="
                        addUniversityform.reset({});
                        this.addUniversityform.markAsPristine();
                        this.addUniversityform.markAsUntouched();
                        this.addUniversityform.updateValueAndValidity();
                        submitted = false
                      ">
                      Reset
                      <!-- <i class="fa fa-refresh" aria-hidden="true"></i> -->
                    </button>
                  </div>
                </div>
              </form>
            </mat-card>
          </mat-card>
        </div>
      </mat-tab>

      <!-- Delete -->
      <!-- <mat-tab label="Delete" *ngIf="accessibilityData1?.udelete">
      <mat-card class="mt-2  card " style="border-radius: 26px;">
      <form [formGroup]="instiForm" (ngSubmit)="deleteUniversity()">
        <div class="col-md-12">
          <div class="col-md-12" style="display: flex;flex-direction: column;">
          <div class="row mt-4 mx-auto">

            <div class="col-auto">
              <mat-form-field appearance="fill">
                <mat-label>Survey Year</mat-label>
                <mat-select formControlName="surveyYearValue">
                  <mat-option *ngFor="let year of surveyYearList" [value]="year">{{year}}</mat-option>
                </mat-select>
                <mat-error
                *ngIf="instiForm.controls['surveyYearValue'].hasError('required') || instiForm.controls['surveyYearValue'].dirty || instiForm.controls['surveyYearValue'].value || instiForm.controls['surveyYearValue'].touched">
                Please select Survey Year
              </mat-error>
              </mat-form-field>
            </div>
            <div class="col-auto">
              <mat-form-field appearance="fill">
                <mat-label>State</mat-label>
                <mat-select [disableOptionCentering]="true" #select4 placeholder="State" formControlName="stateValue">
                  <mat-select-filter *ngIf="select4.focused" [array]="stateList"
                    (filteredReturn)="stateListfilter =$event" [displayMember]="'name'"></mat-select-filter>
                  <mat-option [value]="' '">All</mat-option>
                  <mat-option *ngFor="let item of stateListfilter" [value]="item.stateCode">
                    {{item.name}}
                  </mat-option>
                </mat-select>
                <mat-error
                *ngIf="instiForm.controls['stateValue'].hasError('required') || instiForm.controls['stateValue'].dirty || instiForm.controls['stateValue'].value || instiForm.controls['stateValue'].touched">
                Please select State
              </mat-error>
              </mat-form-field>
            </div>
            <div class="col-auto">
              <mat-form-field appearance="fill">
                <mat-label>University Type</mat-label>
                <mat-select [disableOptionCentering]="true" #select5 placeholder="University Type"
                  formControlName="universityType">
                  <mat-select-filter *ngIf="select5.focused" [array]="universityType"
                    (filteredReturn)="universityTypefilter =$event" [displayMember]="'type'"></mat-select-filter>
                    <mat-option [value]="' '">All</mat-option>
                  <mat-option *ngFor="let item of universityTypefilter" [value]="item.id">
                    {{item.type}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          </div>
          <div class="row mt-1">
            <div Class="col-sm-12 text-center mb-3">
              <button class="btn1 btn btn-sm btn-success">Find</button>&nbsp;
              <button class="btn1 btn btn-sm btn-danger"  (click)="instiForm.reset(); delete?.resetdata(); submitted = false">Reset

              </button>
            </div>
          </div>
        </div>

      </form>
      </mat-card>
    </mat-tab> -->

      <!-- convert to college -->
      <mat-tab label="Convert to College" *ngIf="accessibilityData1?.utoC">
        <mat-card class="mt-2 card" style="border-radius: 26px"
          *ngIf="ConvertCollege ? !ConvertCollege.isConvertCollege : true">
          <form [formGroup]="instiForm" (ngSubmit)="converttoColleg()"
            *ngIf="ConvertCollege ? !ConvertCollege.isConvertCollege : true">
            <div class="col-md-12">
              <div class="col-md-12" style="display: flex; flex-direction: column">
                <div class="row mt-4 mx-auto">
                  <div class="col-auto" style="text-align: end">
                    <mat-form-field appearance="fill">
                      <mat-label>Survey Year</mat-label>
                      <mat-select formControlName="surveyYearValue">
                        <mat-option *ngFor="let year of surveyYearList" [value]="year">{{ year }}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          instiForm.controls['surveyYearValue'].hasError(
                            'required'
                          ) ||
                          instiForm.controls['surveyYearValue'].dirty ||
                          instiForm.controls['surveyYearValue'].value ||
                          instiForm.controls['surveyYearValue'].touched
                        ">
                        Please select Survey Year
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-auto">
                    <mat-form-field appearance="fill">
                      <mat-label>State</mat-label>
                      <mat-select [disableOptionCentering]="true" #select2 placeholder="State"
                        formControlName="stateValue">
                        <mat-select-filter *ngIf="select2.focused" [array]="stateList"
                          (filteredReturn)="stateListfilter = $event" [displayMember]="'name'"></mat-select-filter>
                        <mat-option [value]="' '">All</mat-option>
                        <mat-option *ngFor="let item of stateListfilter" [value]="item.stateCode">
                          {{ item.name }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          instiForm.controls['stateValue'].hasError(
                            'required'
                          ) ||
                          instiForm.controls['stateValue'].dirty ||
                          instiForm.controls['stateValue'].value ||
                          instiForm.controls['stateValue'].touched
                        ">
                        Please select State
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-auto">
                    <mat-form-field appearance="fill">
                      <mat-label>University Type</mat-label>
                      <mat-select [disableOptionCentering]="true" #select3 placeholder="University Type"
                        formControlName="universityType">
                        <mat-select-filter *ngIf="select3.focused" [array]="universityType"
                          (filteredReturn)="universityTypefilter = $event" [displayMember]="'type'"></mat-select-filter>
                        <mat-option [value]="' '">All</mat-option>
                        <mat-option *ngFor="let item of universityTypefilter" [value]="item.id">
                          {{ item.type }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row mt-1">
                <div Class="col-sm-12 text-center mb-3">
                  <button class="btn1 btn btn-sm btn-success">Find</button>&nbsp;
                  <button class="btn1 btn btn-sm btn-danger" (click)="
                      instiForm.reset();
                      ConvertCollege?.resetdata();
                      submitted = false
                    ">
                    Reset
                    <!-- <i  class="fa fa-refresh" aria-hidden="true"></i> -->
                  </button>
                </div>
              </div>
            </div>
          </form>
        </mat-card>
      </mat-tab>

      <!-- report detail -->
      <mat-tab class="report-university" label="View-Log" *ngIf="accessibilityData1?.report">
        <!-- <app-university-report *ngIf="showReport"></app-university-report> -->
        <mat-card class="mt-2 card" style="border-radius: 26px">
          <form [formGroup]="instiForm" (ngSubmit)="findReport('UniversityReport')">
            <div class="row mt-4" style="justify-content: center">
              <div class="col-sm-3" style="text-align: end">
                <mat-form-field appearance="fill">
                  <mat-label>Survey Year</mat-label>
                  <mat-select formControlName="surveyYearValue">
                    <mat-option *ngFor="let year of surveyYearAllList" [value]="year.surveyYear">{{ year.surveyYearValue
                      }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="
                      instiForm.controls['surveyYearValue'].hasError(
                        'required'
                      ) ||
                      instiForm.controls['surveyYearValue'].dirty ||
                      instiForm.controls['surveyYearValue'].value ||
                      instiForm.controls['surveyYearValue'].touched
                    ">
                    Please select Survey Year
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-auto" *ngIf="roleId === '26' || roleId === '1'">
                <mat-form-field class="d-block">
                  <mat-label>From Date:</mat-label>
                  <input matInput [matDatepicker]="picker1" readonly placeholder="From Date" formControlName="fromDate"
                    (focus)="picker1.open()" />
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker-toggle matSuffix (click)="instiForm.controls['fromDate'].setValue(null)">
                    <mat-icon matDatepickerToggleIcon>clear</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-auto" *ngIf="roleId === '26' || roleId === '1'">
                <mat-form-field class="d-block">
                  <mat-label>To Date:</mat-label>
                  <input matInput [matDatepicker]="picker2" readonly placeholder="From Date" formControlName="toDate"
                    [min]="instiForm.controls['fromDate'].value" (focus)="picker2.open()" />
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker-toggle matSuffix (click)="instiForm.controls['toDate'].setValue(null)">
                    <mat-icon matDatepickerToggleIcon>clear</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-sm-2">
                <button class="btn1 btn btn-sm btn-success">Find</button>&nbsp;
                <button class="btn1 btn btn-sm btn-danger" (click)="instiForm.reset(); showReport?.resetData()">
                  Reset
                  <!-- <i class="fa fa-refresh" aria-hidden="true"></i> -->
                </button>
              </div>
            </div>
          </form>
        </mat-card>
      </mat-tab>

      <!--Active Inactive-->
      <mat-tab label="Active/Inactive" *ngIf="accessibilityData1?.uinactive">
        <mat-card class="mt-2 card" style="border-radius: 26px" *ngIf="status1 ? !status1.isStatus1 : true">
          <form [formGroup]="instiForm" (ngSubmit)="findOnStatus()" *ngIf="status1 ? !status1.isStatus1 : true">
            <div class="col-md-12">
              <div class="col-md-12" style="display: flex; flex-direction: column">
                <div class="row mt-4 mx-auto">
                  <div class="col-auto">
                    <mat-form-field appearance="fill">
                      <mat-label>Status</mat-label>
                      <mat-select formControlName="status">
                        <mat-option value="active"> Active </mat-option>
                        <mat-option value="inactive"> Inactive </mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          instiForm.controls['status'].hasError('required') ||
                          instiForm.controls['status'].dirty ||
                          instiForm.controls['status'].value ||
                          instiForm.controls['status'].touched
                        ">
                        Please select Status
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-auto" *ngIf="f1['status'].value === 'active'">
                    <mat-form-field appearance="fill">
                      <mat-label>Survey Year</mat-label>
                      <mat-select formControlName="surveyYearValue">
                        <mat-option *ngFor="let year of surveyYearList" [value]="year">{{ year }}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          instiForm.controls['surveyYearValue'].hasError(
                            'required'
                          ) ||
                          instiForm.controls['surveyYearValue'].dirty ||
                          instiForm.controls['surveyYearValue'].value ||
                          instiForm.controls['surveyYearValue'].touched
                        ">
                        Please select Survey Year
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-auto" *ngIf="f1['status'].value === 'inactive'">
                    <mat-form-field appearance="fill">
                      <mat-label>Survey Year</mat-label>
                      <mat-select formControlName="surveyYearValue">
                        <mat-option *ngFor="let year of surveyYearAllList" [value]="year.surveyYearValue">
                          {{ year.surveyYearValue }}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          instiForm.controls['surveyYearValue'].hasError(
                            'required'
                          ) ||
                          instiForm.controls['surveyYearValue'].dirty ||
                          instiForm.controls['surveyYearValue'].value ||
                          instiForm.controls['surveyYearValue'].touched
                        ">
                        Please select Survey Year
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-auto">
                    <mat-form-field appearance="fill">
                      <mat-label>State</mat-label>
                      <mat-select formControlName="stateValue" #select1 [disableOptionCentering]="true">
                        <mat-select-filter [array]="stateList" *ngIf="select1.focused"
                          (filteredReturn)="stateListfilter = $event" [displayMember]="'name'"></mat-select-filter>
                        <mat-option [value]="' '">All</mat-option>
                        <mat-option *ngFor="let state of stateListfilter" [value]="state.stateCode">{{ state.name }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          instiForm.controls['stateValue'].hasError(
                            'required'
                          ) ||
                          instiForm.controls['stateValue'].dirty ||
                          instiForm.controls['stateValue'].value ||
                          instiForm.controls['stateValue'].touched
                        ">
                        Please select Survey Year
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-auto">
                    <mat-form-field appearance="fill">
                      <mat-label>University Type</mat-label>
                      <mat-select [disableOptionCentering]="true" #select5 placeholder="University Type"
                        formControlName="universityType">
                        <mat-select-filter *ngIf="select5.focused" [array]="universityType"
                          (filteredReturn)="universityTypefilter = $event" [displayMember]="'type'"></mat-select-filter>
                        <mat-option [value]="' '">All</mat-option>
                        <mat-option *ngFor="let item of universityTypefilter" [value]="item.id">
                          {{ item.type }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div Class="col-sm-12 text-center mb-3">
                  <button class="btn1 btn btn-sm btn-success" type="submit">
                    Find</button>&nbsp;
                  <button class="btn1 btn btn-sm btn-danger" (click)="
                      instiForm.reset({});
                      status1?.resetdata();
                      submitted = false
                    ">
                    Reset
                    <!-- <i class="fa fa-refresh" aria-hidden="true"></i> -->
                  </button>
                </div>
              </div>
            </div>
          </form>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<app-university-view #view [instiFormData]="instiForm" *ngIf="selectedIndexView"></app-university-view>
<app-university-edit #edit [instiFormData]="instiForm" *ngIf="selectedIndexEdit"></app-university-edit>
<!-- <app-university-delete #delete [instiFormData]="instiForm"
  *ngIf="selectedIndexUniversityDelete"></app-university-delete> -->
<app-convertto-college #ConvertCollege [instiFormData]="instiForm" *ngIf="selectedIndexConvertCollege">
</app-convertto-college>

<app-institutional-report #Reports [instiFormData]="instiForm" *ngIf="showReportIndex"></app-institutional-report>
<app-activeinactiveuniversity #status [instiFormData]="instiForm"
  *ngIf="selectedIndexStatus"></app-activeinactiveuniversity>
<app-institution-management-dashboard [message]="type"
  *ngIf="selectedIndex === 0"></app-institution-management-dashboard>

<!--<app-standalone-approve-list [instiFormData]="instiForm" *ngIf="selectedIndexApproveList"></app-standalone-approve-list> -->