.mat-card {
    max-width: 500px;
    margin: 2em auto;
    text-align: center;
  }
  .border {
    border-top: 0.10rem solid #0061a2 !important;
    border-bottom: 0.10rem solid #0061a2 !important;
    border-left: 0.10rem solid #0061a2 !important;
    border-right: 0.10rem solid #0061a2 !important;
  }
  .table tr:nth-child(odd) td{
    background-color: #f5eded
  }
  .table tr:nth-child(even) td{
    background-color: #ffffff;
  }
  .asterisk{
    color: red;
  }
  .noRecord{
    font-size: medium;
  font-weight: 600;
  color: red;
  }