<div class="container-fluid reg-page-bg px-4">
  <div class="form-group form-row">
  
      <div class="col-md-12 mt-3 badges p-3">
        <span class="font-weight-bold text-lg">Affiliate/Deaffiliate University</span>
      </div>
  
  </div>

  <div class="row justify-content-center">
    <div class="col-md-12 animated fadeInDown  mb-3 pt-3 py-3 ">
      <form [formGroup]="instiForm" (ngSubmit)="save()" class="card p-5">
        <div class="row">
          <!-- Survey Year -->
          <div class="col-md-3">
            <mat-form-field  style="width: 100%;">
              <mat-label>Survey Year</mat-label>
              <mat-select formControlName="surveyYearValue">
                <mat-option *ngFor="let year of surveyYearList" [value]="year">{{ year }}</mat-option>
              </mat-select>
              <mat-error *ngIf="instiForm.controls['surveyYearValue'].hasError('required')&&issubmit">
                Please select Survey Year
              </mat-error>
            </mat-form-field>
          </div>

          <!-- AISHE Code -->
          <div class="col-md-3">
            <mat-form-field  style="width: 100%;">
              <mat-label>AISHE CODE</mat-label>
              <input matInput formControlName="aisheCodeValue"/>
            </mat-form-field>
          </div>

          <!-- State -->
          <div class="col-md-3">
            <mat-form-field  style="width: 100%;">
              <mat-label>State</mat-label>
              <input matInput formControlName="stateValue"/>
            </mat-form-field>
          </div>

          <!-- District Name -->
          <div class="col-md-3">
            <mat-form-field  style="width: 100%;">
              <mat-label>District Name</mat-label>
              <input matInput formControlName="districtValue"/>
            </mat-form-field>
          </div>

          <!-- College Name -->
          <div class="col-md-6">
            <mat-form-field  style="width: 100%;">
              <mat-label>College Name</mat-label>
              <input matInput formControlName="collegeName"/>
            </mat-form-field>
          </div>

          <!-- Affiliated University Name -->
          <div class="col-md-6">
            <mat-form-field  style="width: 100%;">
              <mat-label>Affiliated University Name</mat-label>
              <input matInput formControlName="affiliatingUniversityName"/>
            </mat-form-field>
          </div>

          <!-- Remark -->
          <div class="col-md-12">
            <mat-form-field  style="width: 100%;">
              <mat-label>Remark</mat-label>
              <textarea matInput rows="5" formControlName="remarks"></textarea>

            <mat-error *ngIf="instiForm.controls['remarks'].hasError('required')&& issubmit">
              Please select Survey Year
            </mat-error>
          </mat-form-field>
          </div>

          <!-- Buttons -->
          <div class="col-12 text-center mt-3">
            <button class="btn btn-success btn-sm" type="submit">Save</button>
            <button class="btn btn-danger btn-sm ml-2" (click)="reset()">Reset</button>
            <button class="btn btn-warning btn-sm ml-2" mat-dialog-close tabindex="-1">close</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
