.referenceNo{
    text-decoration: underline;
    text-decoration-color: #2020235e;
}
::ng-deep .mat-h1, .mat-headline, .mat-typography .mat-h1, .mat-typography .mat-headline, .mat-typography h1 {
 margin: 0px  !important ;
}