
  <div class="container-fluid reg-page-bg pl-4 pr-4">
    <div class="" *ngIf="showTable">
      <div class="row justify-content-between">
        <div class="col-auto show-button" >
          <label>Show</label>&nbsp;
          <select (ngModelChange)="onChange($event)" [(ngModel)]="pageSize">
            <option *ngFor="let data of tableSize" [value]="data">
              {{ data }}
            </option>
          </select>
          entries
        </div>

        <div class="col-auto ml-4">
          <label>Search:</label>&nbsp;
          <input id="myInput" type="text" [(ngModel)]="searchText" (keyup)="applyFilter($any($event.target).value)"/>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table mt-2 text-left pe-2" matSort (matSortChange)="sortData($event)">

          <thead>
            <tr>
              <th>AISHE Code</th>
              <th>Institution Name</th>
              <th>Institution Type</th>
              <th mat-sort-header="statename">State</th>
              <th mat-sort-header="districtname">District</th>
              <th>Location</th>
              <th *ngIf="selectedIndexEdit">Action</th>
            </tr>
          </thead>

          <tbody id="myTable">
            <tr
              *ngFor="
                let data of sortedData
                  | searchFilter : searchText
                  | paginate
                    : {
                        itemsPerPage: pageSize,
                        currentPage: page
                      };
                let i = index
              "
            >
              <td><a  class="requestIdLink" (click)="openDetails(data)">S-{{ data.aishecode }}</a></td>
              <td>{{ data.name }}</td>
              <td>{{ data.bodyType }}</td>
              <td style="width: 26%;">{{ data.statename }}</td>
              <td>{{ data.districtname }}</td>
              <td>{{data.location}}</td>
              <td *ngIf="selectedIndexEdit">
                <div class="piped d-flex">
                  <a  matTooltip="Edit Info"
                    (click)="editUser(data)"
                  >
                    <mat-icon class="edit_icon1"> edit </mat-icon>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-3" *ngIf="showTable">
        Showing {{ StartLimit + 1 }} to {{ pageData }} Of
        {{ userDataTable.length }} entries
      </div>
      <div class="d-flex justify-content-center" *ngIf="showTable">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="handlePageChange($event)"
        >
      </pagination-controls>
      </div>
      <!--  -->
    </div>



    <!--ALL Data View-->
    <div  *ngIf="showDataTable" style="margin-top: 5%;">

      <div class="row" style="margin-bottom: -2%;">
        <!-- <mat-card-title>Edit College</mat-card-title> -->
        <div class="col-sm-10 d-flex justify-content-between align-items-center">
          <h1 class="insthead position-relative mb-md-4"><span>Standalone Details</span></h1>


        </div>
        <div class="col-sm-2 d-flex justify-content-end mt-2 ml-auto" >
          <a (click)="viewDetailOnly==false?backToSummaryReport():back1()" matTooltip="Back" style="cursor: pointer;" class="text-uppercase"><img src="assets/img/table-back.svg"
            class="table-back me-2" />
            Back
          </a>
        </div>
      </div>


      <!-- address for correspondence are below -->
      <div class="row d-flex justify-content-between">




      <!-- head of institution details are below-->
      <div class="table-responsive-sm mt-2 col-lg-12">
        <table class="table  collegeDetails">
          <thead>
            <tr>
              <th  style="background-color: #aae2ed; color:black" colspan="4">
                <h3 class="text-center"><b>Standalone Details</b></h3>
              </th>
            </tr>
          </thead>
          <tr>
            <td class="text-center col-md-2  tableheading "  style="background-color:#f5efef">
              AISHE Code
            </td>
            <td class="text-center col-md-2 ">S-{{ obj?.id }}</td>
            <td class="text-center col-md-2 tableheading " style="background-color:#f5efef">
               Institute Name
            </td>
            <td class="text-center col-md-3 ">{{ obj?.collegeName }}</td>
          </tr>
          <tr>
            <td class="text-center col-md-2 tableheading " style="background-color:#f5efef">
              State
            </td>
            <td class="text-center col-md-2 ">{{ obj?.collegeState }}</td>
            <td class="text-center col-md-2 tableheading " style="background-color:#f5efef">
              District
            </td>
            <td class="text-center col-md-3 ">{{ obj?.collegeDistrict }}</td>
          </tr>
          <tr>
            <td class="text-center col-md-2 tableheading " style="background-color:#f5efef">
              Location
            </td>
            <!-- <td *ngIf=" obj?.collegeLocation==='U'">Urban</td>
              <td *ngIf=" obj?.collegeLocation==='R'"> Rural</td> -->
            <td class="text-center"> {{obj?.collegeLocation==='U'?'Urban':obj?.collegeLocation==='R'?'Rural':""}}</td>
            <td class="text-center col-md-2 tableheading" style="background-color:#f5efef">
              Institution Type
            </td>
            <td class="text-center col-md-3">{{ obj?.collegeType }} <span *ngIf="obj.stateBodyTypeName">({{obj.stateBodyTypeName}})</span></td>
          </tr>

          <tr>
            <td class="text-center col-md-2 tableheading " style="background-color:#f5efef">
              Management Type
            </td>
            <!-- <td *ngIf=" obj?.collegeLocation==='U'">Urban</td>
              <td *ngIf=" obj?.collegeLocation==='R'"> Rural</td> -->
            <td class="text-center "> {{ obj?.collegeManagementType }}</td>
            <td class="text-center col-md-2 tableheading" style="background-color:#f5efef">
              Address Line1
            </td>
            <td class="text-center col-md-3"> {{ obj?.addressLine1 }}</td>
          </tr>

          <tr>
            <td class="text-center col-md-2 tableheading" style="background-color:#f5efef">
              Address Line2
            </td>
            <td class="text-center"> {{ obj?.addressLine2 }}</td>

            <td class="text-center col-md-2 tableheading " style="background-color:#f5efef">
              Pincode
            </td>
                    <td class="text-center col-md-3">{{ obj?.addressPincode }}</td>
          </tr>
          <tr>
            <td class="text-center col-md-2 tableheading " style="background-color:#f5efef">
              Document
            </td>
            <td class="text-center col-md-3"><span *ngIf="obj?.document" class="hyperlink" (click)="obj.document?downloadPdf(obj?.document,obj?.collegeName):''">Please click here to view</span></td>
            
              <td class="text-center col-md-2 tableheading" style="background-color:#f5efef">
                Is the institution affiliated with any other University/Statutory body?
              </td>
              <td class="text-center col-md-3"> {{ obj.isOtherAffiliatingUniversityStatuatoryBody?'YES':'NO'}}</td>
            
          </tr>
          <tr>
            <td class="text-center col-md-2 tableheading" style="background-color:#f5efef">
              Ministry Name
            </td>
            <td class="text-center col-md-3"> {{ obj.ministryName}}</td>
          </tr>
        </table>
      </div>

      </div>

      <div class="table-responsive-sm mt-2" *ngIf="obj?.isOtherAffiliatingUniversityStatuatoryBody">
        <table class="table" *ngIf="obj?.otherAffiliatingUniversity && obj?.otherAffiliatingUniversity.length">
          <tr>
            <th>S.No</th>
            <th>University</th>
            <th>AISHE Code</th>
          </tr>
          <tr *ngFor="let item of obj?.otherAffiliatingUniversity;let i=index">
            <td>{{i+1}}</td>
            <td>{{item.affiliatingUniv}}</td>
            <td>{{item.affiliatingUnivId}}</td>
          </tr>
        </table>
  
        <table class="table" *ngIf="obj?.statuatoryBody && obj?.statuatoryBody.length">
          <tr>
            <th>S.No</th>
            <th>Affiliating/Regulatory/Statutory Body</th>
          </tr>
          <tr *ngFor="let item of obj.statuatoryBody;let j=index">
            <td>{{j+1}}</td>
            <td>{{item.statuatoryBody}}</td>
          </tr>
        </table>
  
      </div>
      <div class="row d-flex justify-content-between mt-2">

        <!-- nodal officer details are below -->
        <div class="table-responsive-sm  col-lg-6">
          <table class="table  collegeDetails">
            <thead >
              <tr>
                <th colspan="4"  >
                  <h3 class="text-center"><b>Nodal Officer Details</b></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="text-center col-md-2 tableheading" style="background-color:#f5efef">
                Officer Name
              </td>
              <td class="text-center col-md-2">{{ obj?.nodalOfficesName }}</td>
              <td class="text-center col-md-2 tableheading" style="background-color:#f5efef">
                Designation
              </td>
              <td class="text-center col-md-3">{{ obj?.nodalOfficesDesignation }}</td>
            </tr>
            <tr>
              <td class="text-center col-md-2 tableheading" style="background-color:#f5efef">
                Email
              </td>
              <td class="text-center col-md-2 ">{{ obj?.nodalOfficesEmail }}</td>
              <!-- <td class="text-center col-md-2 tableheading" style="background-color:#f5efef">
                Gender
              </td>
              <td class="text-center col-md-3 ">{{ (obj?.nodalOfficesGender==='2')?'Female':'Male' }}</td> -->
              <td class="text-center col-md-2 tableheading" style="background-color:#f5efef">
                Phone Landline
              </td>
              <td class="text-center col-md-2">{{ obj?.nodalOfficesPhoneLandLine }}</td>
            </tr>
            <tr>
             
              <td class="text-center col-md-2 tableheading" style="background-color:#f5efef">
                Mobile
              </td>
              <td class="text-center col-md-3">{{ obj?.nodalOfficesMobile }}</td>
            </tr>
          </table>
        </div>

        <div class="table-responsive-sm col-lg-6">
          <table class="table  collegeDetails">
            <thead >
              <tr>
                <th colspan="4"  >
                  <h3 class="text-center"><b>Head of Institution Details</b></h3>
                </th>
              </tr>
            </thead>
            <tr>
              <td class="text-center col-md-2 tableheading" style="background-color:#f5efef">
                Officer Name
              </td>
              <td class="text-center col-md-2">{{ obj?.hodname }}</td>
              <td class="text-center col-md-2 tableheading" style="background-color:#f5efef">
                Designation
              </td>
              <td class="text-center col-md-3">{{ obj?.hoddesignation }}</td>
            </tr>
            <tr>
              <td class="text-center col-md-2 tableheading" style="background-color:#f5efef">
                Email
              </td>
              <td class="text-center col-md-2 ">{{ obj?.hodemail }}</td>
              <!-- <td class="text-center col-md-2 tableheading" style="background-color:#f5efef">
                Gender
              </td>
              <td class="text-center col-md-3 " ><span *ngIf="obj?.hodgender===null">{{ (obj?.hodgender==='2')?'Female':'Male' }}</span></td> -->
              <td class="text-center col-md-2 tableheading" style="background-color:#f5efef">
                Phone Landline
              </td>
              <td class="text-center col-md-2">{{ obj?.hodphoneLandLine }}</td>
            </tr>
            <tr>
              
              <td class="text-center col-md-2 tableheading" style="background-color:#f5efef">
                Mobile
              </td>
              <td class="text-center col-md-3">{{ obj?.hodmobile }}</td>
            </tr>
          </table>
        </div>
      </div>

  </div>
  <div *ngIf="showDataTable && (this.sharedservice.role.SysAdmin==this.roleId)" class="reg-page-bg">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true"
      (closed)="panelOpenState = false" style="display: block;">
        <mat-expansion-panel-header>
          <mat-panel-title><strong>Survey Participation Details </strong></mat-panel-title>
          </mat-expansion-panel-header>
    <table class="table table-bordered table-sm ml-2 mr-2 p-3">
      <tr>
        <th style="font-size: 16px !important;">S.No.</th>
        <th style="font-size: 16px !important;">Survey Year</th>
        <th style="font-size: 16px !important;">User Id</th>
          <th style="font-size: 16px !important;">Reference Number</th>
          <th style="font-size: 16px !important;">Date of Submission</th>
      </tr>
      <tr *ngFor="let updatedRecord of lastUpdatedDcfDetails;let i=index">
        <td>{{i+1}}</td>
        <td>{{sharedservice.getSurveyYear(updatedRecord.surveyYear)}}</td>
        <td> {{updatedRecord.uploaderId}} </td>
          <td><a class="requestIdLink" (click)="updateRecord(updatedRecord,aisheCode,'S')">{{aisheCode}}-{{updatedRecord.surveyYear}}</a></td>
          <td>{{updatedRecord.uploadDateTime}}</td>
      </tr>
  </table>
 

</mat-expansion-panel>
</mat-accordion>
   </div>
  <div class="col-md-12 mt-2 mb-2" *ngIf="showDataTable && obj?.requestId">
    <app-track-approve-status [requestIdData]="obj?.requestId" [stateBodyTypeName]="obj?.stateBodyTypeName"  ></app-track-approve-status>
    </div>
  </div>





