<div class="container-fluid reg-page-bg pl-4 pr-4">
    <div class="form-group">
      <div class="form-row mr-0 ml-0">
        <div class="col-md-12 mt-0 badges p-2 mt-3">
          <div class="float-left">
            <span class="font-weight-bold text-lg">List of Institutes Converted from</span>
          </div>
        </div>
      </div>
    </div>
    <mat-tab-group animationDuration="0ms" class="exam-tabing-steps" [(selectedIndex)]="selectedIndex"
    (selectedTabChange)="tabSelected($event)">
    <mat-label label="College Upgrade To University"></mat-label>
    <mat-label label="Standalone Upgrade To University"></mat-label>
    <mat-label label="Standalone Upgrade To College"></mat-label>
    </mat-tab-group>
    </div>