ul.add_role_group{
padding: 0;
    list-style: none;
    margin: 0;
    height: 300px;
    overflow: auto;
    min-width: 730px;
}
ul.add_role_group li.first {
    background: #E1E6EE;
}
ul.add_role_group li {
    padding: 15px 20px;
}
.paddingtopbottom5 {
    padding: 5px 0px;
    display: inline-block;
}