<section class="p-3 bg-gray-400" *ngIf="!showPage">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-lg-3 shadow bg-white" style="border-radius: 10px;">
                <div class="row">
                    <div class="col-md-12 pr-0">

                        <div class=" example-form">
                            <div class="border-bottom-dark col-md-12 mb-2 mt-2 text-center">
                                <h5 style="font-size: 20px !important;
                                color: black!important">Know Your User Id</h5>
                            </div>
                            <form [formGroup]="forgotUser">

                                <div class="col-md-12">
                                    <mat-form-field class="d-block">
                                        <mat-label>AISHE Code:</mat-label>
                                        <input matInput formControlName="aisheCode" type="text" autocomplete="off"
                                            placeholder="AISHE Code">
                                    </mat-form-field>
                                    <div class="err-msgs"
                                        *ngIf="forgotUser.controls['aisheCode'].dirty || forgotUser.controls['aisheCode'].value || forgotUser.controls['aisheCode'].touched || isFormInvalid ">
                                        <span *ngIf="forgotUser.controls['aisheCode'].hasError('required')">Please enter
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field class="d-block">
                                        <input matInput autocomplete="off" maxlength="15" (paste)="false"
                                            (draggable)="false" (drop)="false" (dragover)="false"
                                            formControlName="captcha" placeholder="Enter Below Verfication Code"
                                            class="textTransform" required />
                                    </mat-form-field>
                                    <div class="err-msgs"
                                        *ngIf="forgotUser.controls['captcha'].dirty || forgotUser.controls['captcha'].value || forgotUser.controls['captcha'].touched || isFormInvalid ">
                                        <span *ngIf="forgotUser.controls['captcha'].hasError('required')">Please enter
                                        </span>
                                    </div>
                                    <div class="mt-2">
                                        <span class="font-weight-bold pt-2 pb-2 pr-1 pl-1 mr-1">Verification Code</span>
                                        <img [src]="captchaText" alt="" class="captcha">
                                        <a class="btn btn-link" (click)="getCaptcha()">
                                            <i tabindex="0" class="fa fa-refresh captcha-refresh ml-1"></i>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="form-group mt-3 text-center">
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-sm mr-2" (click)="verifyCaptcha()"
                                    type="submit">CONTINUE</button>
                                <a routerLink="/institutionallogin" class="btn btn-danger btn-sm mr-2">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-3 bg-gray-400" *ngIf="showPage && !showUser">
    <div class="container">
        <div class="row">
            <div class="col-md-12  shadow bg-white" style="border-radius: 10px;">
                <div class="row">
                    <div class="col-md-12 pr-0">

                        <div class=" example-form">
                            <div class="border-bottom-dark col-md-12 mb-2 mt-2 text-center">
                                <h5 style="font-size: 20px !important;
                                color: black!important">Know Your User Id</h5>
                            </div>
                            <form [formGroup]="password">

                                <div class="row col-md-12 overflow-hidden">
                                    <div class="col-md-5">
                                        <mat-form-field class="d-block">
                                            <mat-label>Email</mat-label>
                                            <input matInput formControlName="emailX">
                                        </mat-form-field>

                                    </div>

                                    <!-- <div class="col-md-2 mt-3" *ngIf="!emailOtp && hideE">
                                    <label class="label">Verify Email Id<span style="color: red;">*</span></label>
                                  </div> -->
                                    <div class="col-md-3 mt-3" *ngIf="!emailOtp && hideE && !mobileOtp">
                                        <button class="btn btn-danger btn-sm" (click)="sendEmailOTP()">Click here to
                                            send Email OTP</button>

                                    </div>

                                    <div class="col-md-4" *ngIf="emailOtp">
                                        <mat-form-field class="d-block">
                                            <mat-label>Email OTP</mat-label>
                                            <input matInput type="text" placeholder="Email OTP"
                                                formControlName="emailOtp" autocomplete="off">
                                            <mat-hint>OTP is valid for 15 minutes !</mat-hint>
                                        </mat-form-field>
                                        <mat-hint *ngIf="emailOtp">OTP has been sent successfully to
                                            {{this.password.controls['emailX'].value}}.Please enter the same OTP.
                                        </mat-hint>
                                    </div>
                                    <div class="col-md-1 mt-3" *ngIf="successVerifyOTP">
                                        <i class="fa-solid fa-circle-check text-lg" style="margin-top: 5px;
                                color: green;
                                float: left;"></i>
                                    </div>
                                    <div class="col-md-1 mt-3" *ngIf="emailOtp">
                                        <span class="timer" *ngIf="displayE !== '00:00'">{{displayE}}</span>
                                        <span class="resend" *ngIf="displayE === '00:00'"
                                            (click)="sendEmailOTP()">Resend</span>
                                    </div>
                                    <!-- <div class="col-md-1 mt-3" *ngIf="emailOtp">
                                    <button class="btn btn-success btn-sm" (click)="verifyEmailOTP()">Verify</button>
                                  </div> -->
                                </div>
                                <div class="row col-md-12 ml-3" *ngIf="!emailOtp && !mobileOtp">
                                    <label style="font-size: larger;
                                font-weight: 500;">--------------------------------------------Verify Email OTP OR
                                        Mobile OTP----------------------------------------</label>
                                </div>
                                <div class="row col-md-12 overflow-hidden">
                                    <div class="col-md-5">
                                        <mat-form-field class="d-block">
                                            <mat-label>Mobile</mat-label>
                                            <input matInput formControlName="mobileX">
                                        </mat-form-field>
                                    </div>

                                    <!-- <div class="col-md-2 mt-3" *ngIf="!mobileOtp && hide">
                                    <label class="label">Verify Mobile Number<span style="color: red;">*</span></label>
                                  </div> -->
                                    <div class="col-md-3 mt-3" *ngIf="!mobileOtp && hide && !emailOtp">
                                        <button class="btn btn-danger btn-sm" (click)="sendMobileOTP()">Click here to
                                            send Mobile OTP</button>
                                    </div>
                                    <div class="col-md-4" *ngIf="mobileOtp">
                                        <mat-form-field class="d-block">
                                            <mat-label>Mobile OTP</mat-label>
                                            <input matInput type="text" placeholder="Mobile OTP" 
                                                autocomplete="off" formControlName="mobileOtp"
                                                (keypress)="restrictNumeric($event)">
                                            <mat-hint>OTP is valid for 15 minutes !</mat-hint>
                                        </mat-form-field>
                                        <mat-hint *ngIf="mobileOtp">OTP has been sent successfully to
                                            {{this.password.controls['mobileX'].value}}.Please enter the same OTP.
                                        </mat-hint>

                                    </div>
                                    <div class="col-md-1 mt-3" *ngIf="mobileOtp">
                                        <span class="timer" *ngIf="display !== '00:00'">{{display}}</span>
                                        <span class="resend" *ngIf="display === '00:00'"
                                            (click)="sendMobileOTP()">Resend</span>
                                    </div>
                                    <div class="col-md-1 mt-3" *ngIf="successVerifyMobileOTP">
                                        <i class="fa-solid fa-circle-check text-lg" style="margin-top: 5px;
                                  color: green;
                                  float: left;"></i>
                                    </div>
                                    <!-- <div class="col-md-1 mt-3" *ngIf="mobileOtp">
                                    <button class="btn btn-success btn-sm" (click)="verifyMobileOTP()">Verify</button>
                                  </div> -->
                                </div>


                                <div class="col-md-12">
                                    <mat-form-field class="d-block">
                                        <input matInput autocomplete="off" maxlength="15" (paste)="false"
                                            (draggable)="false" (drop)="false" (dragover)="false"
                                            formControlName="captcha" placeholder="Enter Below Verfication Code"
                                            class="textTransform" required />
                                    </mat-form-field>
                                    <div class="err-msgs"
                                        *ngIf="password.controls['captcha'].dirty || password.controls['captcha'].value || password.controls['captcha'].touched || isFormInvalid ">
                                        <span *ngIf="password.controls['captcha'].hasError('required')">Please enter
                                        </span>
                                    </div>
                                    <div class="mt-2">
                                        <span class="font-weight-bold pt-2 pb-2 pr-1 pl-1 mr-1">Verification Code</span>
                                        <img [src]="captchaText" alt="" class="captcha">
                                        <a class="btn btn-link" (click)="getCaptcha1()">
                                            <i tabindex="0" class="fa fa-refresh captcha-refresh ml-1"></i>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="form-group mt-3 text-center">
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-sm mr-2" (click)="verifyCaptcha1()"
                                    type="submit">Submit</button>
                                <a routerLink="/institutionallogin" class="btn btn-danger btn-sm mr-2">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<section class="p-3 bg-gray-400" *ngIf="showUser">
    <div class="container">
        <div class="row">
            <div class="col-md-12  shadow bg-white" style="border-radius: 10px;">
                <div class="row">
                    <div class="col-md-12 pr-0">

                        <div class=" example-form">

                            <div class="row col-md-12 overflow-hidden pt-4">
                                <div class="col-md-12 table-responsive">
                                    <table class="table table-bordered table-sm">
                                        <tr>
                                            <th>User Id</th>
                                            <th>AISHE Code</th>
                                            <th>Institute Name</th>
                                            <th>DCF Applicable</th>
                                        </tr>
                                        <tr>
                                            <td>{{userId}}</td>
                                            <td>{{forgotUser.controls['aisheCode'].value.toUpperCase()}}</td>
                                            <td>{{instituteName}}</td>
                                            <td>{{messageEligible?'You are not eligible for survey year 2022-23':'You
                                                are eligible for survey year 2022-23'}}</td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3 text-center">
                            <div class="col-md-12">
                                <a routerLink="/institutionallogin" class="btn btn-danger btn-sm mr-2">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>