<section class="p-3 bg-gray-400">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-lg-3 shadow bg-white" style="border-radius: 10px;">
                <div class="row">
                    <div class="col-md-12 pr-0">

                        <div class=" example-form">
                            <div class="border-bottom-dark col-md-12 mb-2 mt-2 text-center">
                                <h5 style="font-size: 20px !important;
                                color: black!important">Forgot Password</h5>
                            </div>
                            <form [formGroup]="forgotPass">
                                <div class="col-md-12">
                                    <mat-form-field class="d-block">
                                        <mat-label>User Type</mat-label>
                                        <mat-select formControlName="userTypeId" (selectionChange)="getUserType($event.value)">
                                            <mat-option value="1">National Level Officer</mat-option>
                                            <mat-option value="2">State Level Officer</mat-option>
                                            <mat-option value="3">Institute Level(C,S,U)</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field class="d-block">
                                        <mat-label>UserId:</mat-label>
                                        <input matInput formControlName="userId" type="text" autocomplete="off"
                                            placeholder="userId">
                                    </mat-form-field>
                                    <div class="err-msgs"
                                        *ngIf="forgotPass.controls['userId'].dirty || forgotPass.controls['userId'].value || forgotPass.controls['userId'].touched || isFormInvalid ">
                                        <span *ngIf="forgotPass.controls['userId'].hasError('required')">Please enter
                                        </span>

                                    </div>

                                </div>

                                <div class="col-md-12" *ngIf="forgotPass.controls['userTypeId'].value === '3'">
                                    <mat-form-field class="d-block">
                                        <mat-label>AISHE Code:</mat-label>
                                        <input matInput formControlName="aisheCode" type="text" autocomplete="off"
                                            placeholder="AISHE Code" [required]="forgotPass.controls['userTypeId'].value === '3'">
                                    </mat-form-field>
                                    <div class="err-msgs"
                                        *ngIf="forgotPass.controls['aisheCode'].dirty || forgotPass.controls['aisheCode'].value || forgotPass.controls['aisheCode'].touched || isFormInvalid ">
                                        <span *ngIf="forgotPass.controls['aisheCode'].hasError('required')">Please enter
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <mat-form-field class="d-block">
                                        <input matInput autocomplete="off" maxlength="15" (paste)="false"
                                            (draggable)="false" (drop)="false" (dragover)="false"
                                            formControlName="captcha" placeholder="Enter Below Verfication Code"
                                            class="textTransform" required />
                                    </mat-form-field>
                                    <div class="err-msgs"
                                        *ngIf="forgotPass.controls['captcha'].dirty || forgotPass.controls['captcha'].value || forgotPass.controls['captcha'].touched || isFormInvalid ">
                                        <span *ngIf="forgotPass.controls['captcha'].hasError('required')">Please enter
                                        </span>
                                    </div>
                                    <div class="mt-2">
                                        <span class="font-weight-bold pt-2 pb-2 pr-1 pl-1 mr-1">Verification Code</span>
                                        <img [src]="captchaText" alt="" class="captcha">
                                        <a class="btn btn-link" (click)="getCaptcha()">
                                            <i tabindex="0" class="fa fa-refresh captcha-refresh ml-1"></i>
                                        </a>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="form-group mt-3 text-center">
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-sm mr-2" (click)="verifyCaptcha(forgotPass.value)"
                                    type="submit"   [disabled]="forgotPass.invalid">Verify User</button>
                                    <a routerLink="/institutionallogin"  class="btn btn-danger btn-sm mr-2">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

