input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  } 
  .effect-2 {
    font: 15px/24px "Lato", Arial, sans-serif !important;
    color: #333 !important;
    width: 100% !important;
    box-sizing: border-box !important;
    letter-spacing: 1px !important;
    border: 0 !important;
    padding: 0px 0 !important;
    border-bottom: 1px solid #949494 !important;
    text-align: center !important;
  }
  .disabledDiv{
    pointer-events: none;
  }