.mat-card {
    max-width: 35%;
    margin: 2em auto;
    padding-top:0px;
    padding-left: 0px;
    padding-right: 0px;
    /* text-align: center; */
}
.mat-card-content{
    padding-left: 10px;
    padding-right: 10px;
}

.captcha-text {
    /* background-image: url("/assets/image/captchabg.png"); */
    background-color: black;
    color: white;
    user-select: none;
    font-size: 20px;
    letter-spacing: 2px;
}

mat-form-field{
    width: 100%;
}
mat-card-title{
    text-align: center;    
    font-size: 16px !important;
}
mat-card-header{
background-color: #3e6b85;
    color: #f9f9f9;
    height: 64px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 767px) {
    .mat-card {
        max-width: 90%;
    }
}

.main-div{
    margin-top: 3.4%;
    margin-bottom: 5%;
}