<div class="container-fluid reg-page-bg pl-4 pr-4">
    <div class="form-group">
        <div class="form-row mr-0 ml-0">
            <div class="col-md-12 mt-0 badges p-2 mt-3">
                <div class="float-left">
                    <span class="font-weight-bold text-lg">Geo Location</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-gray-400">
        <form class="mt-4">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Latitude:</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" [(ngModel)]="lat" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Longitude:</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" [(ngModel)]="lon" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-sm" (click)="verify()">Verify</button>
            </div>
            <p style="color: red;">{{message}}</p>
        </form>

    </div>
    <div class="card" *ngIf="state">
        <div class="table-responsive">
            <table class="table mt-2 text-left pe-2 table-bordered table-sm">
                <tr>
                    <td style="font-weight: 500;">State</td>
                    <td>{{state}}</td>
                </tr>
                <tr>
                    <td style="font-weight: 500;">District</td>
                    <td>{{district}}</td>
                </tr>
                <tr>
                    <td style="font-weight: 500;">Taluka</td>
                    <td>{{taluka}}</td>
                </tr>
                <tr>
                    <td style="font-weight: 500;">Village</td>
                    <td>{{village}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>