<section class="abt-section-cls pdtb-30">
	<div class="container">
	 <div>
	 <div class="table-responsive">
	 <table class="table table-bordered tble-cls-sty">
    <thead>
      <tr>
        <th style="width:35%">Address</th>
        <th>Queries Related to AISHE Help Desk</th>
        <th>Technical Queries</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ministry of Education,
Department of Higher Education
West Block-2, Sector-1, R.K. Puram
New Delhi - 110066</td>
        <td>
        <ul>   
        <li><i class="fa fa-envelope"></i>Email : aishe-helpdesk[at]nic[dot]in</li> 
        
        <li><i class="fa fa-phone"></i><i class="fa fa-whatsapp"></i>Query related to Request ID:- &nbsp;9205960436</li>
        <li><i class="fa fa-phone"></i><i class="fa fa-whatsapp"></i>Query related to Web DCF :- &nbsp;&nbsp;&nbsp;8766343770</li>
         
        </ul>
        
        </td>
        <td>
        <ul>   
        <li><i class="fa fa-envelope"></i>E-Mail : support-aishe[at]nic[dot]in</li> 
        <!-- <li><i class="fa fa-phone"></i>Phone : (011) 22185031</li>  -->
        <li><i class="fa fa-phone"></i><i class="fa fa-whatsapp"></i>&nbsp;&nbsp;7091310686</li>
        </ul>
     
        </td>
      </tr>
       
    </tbody>
  </table>
  <p>** For More Details,Please <a href="/aishe/getTelephoneDirectory" target="_blank" style="color: #2774a6!important;"><span >Click Here</span></a> </p>
	  </div>
	 
	</div> </div>
	</section>